.documentCard {
  position: relative;
  width: 180px;
  /* min-width: 180px; */
  /* height: 250px; */
  /* min-height: 250px; */
  aspect-ratio: 2/3;

  /* justify-content: center; */
  align-items: center;
  /* border: 1px solid rgba(255, 0, 0, 0.219); */

  display: grid;
  /* display: flex; */
  grid-template-rows: 90% 10%;
  /* justify-content: center; */
  align-items: center;
  /* align-content: center; */
  /* grid-gap: 1px; */
  margin: 15px 15px 15px 15px;
  /* border-radius: 10px; */
  /* background-color: rgba(255, 255, 255, 0.021); */
  /* background-color: white; */
  /* transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1); */
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(68, 61, 61, 0.24); */
  /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
  /* border: 1px solid rgba(5, 5, 5, 0.082); */
  /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.075), 0 5px 5px rgba(0, 0, 0, 0.048); */
  /* border: 1px solid white; */
  /* background-color: rgb(255, 255, 255); */
  /* filter: blur(50px); */
  /* backdrop-filter: blur(20px); */
  /* -webkit-backdrop-filter: blur(20px); */
  overflow: hidden;
  /* z-index: inherit; */
  border-radius: 10px;
  z-index: 1;
  /* -webkit-animation: scale-in-ver-top 0.4s both; */
  /* animation: scale-in-ver-top 0.4s both; */
  box-sizing: border-box;
  border: 1px solid rgba(223, 223, 223, 0.384);

  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.075), 0 5px 5px rgba(0, 0, 0, 0.048);
  background-color: rgba(255, 255, 255, 0.233);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(40px);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-font-smoothing: subpixel-antialiased;
  transform: perspective(1px) translateZ(0);
  backface-visibility: hidden;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.904);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.075), 0 5px 5px rgba(0, 0, 0, 0.048);
}

.imageContainer {
  position: relative;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 95%;
  height: 97%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid rgba(223, 223, 223, 0.384);
  /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.075), 0 5px 5px rgba(0, 0, 0, 0.048); */
  border: 1px solid rgba(0, 0, 0, 0.055);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */

  margin-left: 2.5%;
  margin-right: 2.5%;
  overflow: hidden;
  /* border-radius: 10px; */
  box-sizing: border-box;
  /* background-size: cover; */
}

.imageContainer img {
  /* display: none; */
  position: relative;
  /* margin-left: 5%; */
  /* margin-right: 5%; */
  height: 100%;
  width: 100%;
  /* border-radius: 20px 20px 20px 20px; */
  object-fit: contain;
  /* object-fit: cover; */
  cursor: pointer;
}
/* .imageContainer::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: rgb(228, 227, 227);

background: linear-gradient(270deg, rgba(140, 140, 140, 0.466) 0%, hsla(0, 0%, 94%, 0.568) 19%);

background: -moz-linear-gradient(270deg, hsla(180, 0%, 55%, 0.4) 0%, hsla(0, 0%, 94%, 0.1) 19%);

background: -webkit-linear-gradient(270deg, rgba(206, 204, 204, 0.808) 0%, hsla(0, 0%, 94%, 0.048) 19%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#8D8E8E", endColorstr="#F0F0F0", GradientType=1 );
background-color: rgba(255, 255, 255, 0.61);
filter: blur(50px);
backdrop-filter: blur(1px);
-webkit-backdrop-filter: blur(1px);


} */

/* .docImgMaximized {
  height: 99%;
  width: 99%;
  object-fit: contain;
  cursor: pointer;
} */

.titleDiv {
  position: relative;
  /* grid-row-start: 1; */
  /* grid-row-end: 2; */
  grid-row-start: 2;
  grid-row-end: 3;
  /* border: 1px solid black; */
  width: 90%;
  height: 100%;
  display: flex;
  /* width: 100%; */
  height: 100%;
  /* display: none; */
  /* border-radius:15px; */
  /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.075), 0 5px 5px rgba(0, 0, 0, 0.048); */
  /* background-color: rgba(255, 255, 255, 0.452); */
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  justify-content: flex-start;
  /* text-align: start; */
  align-items: center;
  overflow-x: scroll;
  margin-left: auto;
  margin-right: auto;
  /* overflow-wrap: normal; */
  /* border-radius: 0px 0px 10px 10px; */
  box-sizing: border-box;
  padding: 0px 10px 0px 5px;

  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px; */
  /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.075), 0 5px 5px rgba(0, 0, 0, 0.048); */
  /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.075), 0 5px 5px rgba(0, 0, 0, 0.048); */

  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  /* border-top: 1px solid rgba(0, 0, 255, 0.068); */
}
.titleDiv p {
  font-family: "Quicksand", sans-serif;

  font-weight: bold;
  color: slategray;
  font-size: 0.85em;

  white-space: nowrap;
  /* margin: 0px 10px 0px 20px; */
}
.titleDiv::-webkit-scrollbar {
  display: none;
}

.buttonContainer {
  position: relative;
  width: 100%;
  height: 100%;
  grid-row-start: 1;
  grid-row-end: 2;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: flex-end;
  align-items: center;

  box-sizing: border-box;
  border-radius: 10px 10px 0px 0px;
  background-color: rgba(255, 255, 255, 0.452);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}

.spinnerDiv {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  background-color: rgba(255, 255, 255, 0.61);
  /* filter: blur(50px); */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 50%;
}

.favBtnDiv {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid blue; */
  /* margin: 0px 10px 0px 10px; */
  background-color: rgba(255, 255, 255, 0.61);
  /* filter: blur(50px); */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 50%;
  box-sizing: border-box;
  z-index: 50;
  transform: perspective(1px) translateZ(0);
  backface-visibility: hidden;
}

.favBtn {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid blue; */
  box-sizing: border-box;
}

.dotMenuDiv {
  position: relative;
  width: 30px;
  height: 100%;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.chevronIcon {
  font-size: 17px;
  cursor: pointer;
  color: #b3bac3;
}
.editDeleteBtnWrapper {
  position: relative;
  border: 1px solid black;
  height: 100%;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.editDeleteBtnDiv {
  position: relative;
  position: absolute;
  top: 280px;
  right: 0px;
  right: 0px;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgb(197, 197, 197);
  background-color: white;
  border-radius: 5px;
  /* border: 1px solid orange; */
  /* -webkit-animation: scale-in-hor-right 0.5s */
  /* cubic-bezier(0.25, 0.46, 0.45, 0.94) both; */
  /* animation: scale-in-hor-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; */
  z-index: 50;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  /* left: 25%; */
  /* right: 25%; */
}

/*  */
.editBtnDiv {
  width: 50%;
  min-width: 30px;

  height: 100%;
  color: gray;

  /* border: 1px solid red; */
  /* width: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.deleteBtnDiv {
  width: 50%;
  min-width: 30px;

  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid blue; */
  /* margin: 0px 20px 0px 0px; */
  color: gray;
  color: #b3bac3;
  box-sizing: border-box;
}

.cancelBtnDiv {
  /* border: 1px solid red; */
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.saveBtnDiv {
  width: 50%;
  height: 100%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .editBtnWrapper {
  grid-column-start: 2;
  grid-column-end: 3;
  border: 1px solid black;
  width: 55px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
} */

/* ICONS */

.saveIcon {
  font-size: 17px;
  cursor: pointer;
}
.cancelIcon {
  font-size: 17px;
  cursor: pointer;
}
.deleteIcon {
  font-size: 17px;
  cursor: pointer;
}

.editIcon {
  font-size: 17px;
  cursor: pointer;
}
.favIcon {
  font-size: 17px;
  cursor: pointer;
}

.titleInput {
  width: 90%;
  height: 70%;
  overflow-x: scroll;
  outline: none;
  border-bottom: 1px solid rgb(151, 151, 151);
  border-top: none;
  border-left: none;
  border-right: none;
  border: 1.5px dotted #00b7fd;
  background: #00b5fd11;
  color: #00b7fd;
  border-radius: 5px;
  /* border-radius:15px; */

  /* display: flex; */
  /* justify-content: flex-start; */
  /* align-items: center; */
  /* border: 1px solid rgb(151, 151, 151); */
  text-align: center;
  margin: 0px 0px 0px 0px;
  font-size: 15px;
  font-family: "Quicksand", sans-serif;
  font-weight: 450;
  font-size: 1em;
  box-sizing: border-box;
  padding: 0px 5px 0px 5px;
}

.maximize {
  position: absolute;
  /* width: 25px; */
  /* height: 500px; */
  margin-left: auto;
  margin-right: auto;
  top: -120px;
  /* left: -40px; */
  right: 0;
  width: 100vw;
  height: 101vh;
  /* width: 90vw; */
  /* height: 90vh; */
  /* border: 1px solid red; */
  /* display: grid;
  grid-template-rows: 8% 80% 10%;
  margin: 10px 10px 10px 10px; */
  display: flex;
  /* grid-template-rows: 8% 80% 10%; */
  /* margin: 10px 10px 10px 10px; */
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px; */
  /* background-color: rgba(255, 255, 255, 0.993); */
  background-color: black;
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
  background: rgba(255, 255, 255, 0.25);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  background: rgba(28, 27, 27, 0.788);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  /* z-index: 90; */
  z-index: 12;
}
.minimizeBtn {
  /* z-index: 10; */
  color: gray;
  font-size: 15px;
}

@media screen and (max-width: 465px) {
  .documentCard {
    position: relative;
    /* height: 300px; */
    width: 40%;
    aspect-ratio: 2/3;
    display: flex;
    transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
    /* display: grid; */
    /* grid-template-rows: 80% 20%; */
    /* grid-gap: 1px; */
    margin: 15px 15px 15px 15px;
    /* margin: 20px 15px 20px 15px; */
    margin: 3% auto 3% 3%;
    margin: 3% auto 3% 5%;

    /* border-radius: 3px; */

    /* min-width: 180px; */
    /* height: 250px; */
    /* min-height: 250px; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    display: grid;
    grid-template-rows: 90% 10%;
  }
  .titleDiv p {
    font-family: "Quicksand", sans-serif;

    font-weight: bold;
    color: slategray;
    font-size: 0.7em;

    white-space: nowrap;
    /* margin: 0px 10px 0px 20px; */
  }

  .editDeleteBtnDiv {
    position: absolute;
    top: 102%;
    right: 0px;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgb(197, 197, 197);
    background-color: white;
    border-radius: 5px;
    /* -webkit-animation: scale-in-hor-right 0.5s */
    /* cubic-bezier(0.25, 0.46, 0.45, 0.94) both; */
    /* animation: scale-in-hor-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; */
  }
  .favBtn {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid blue; */
    box-sizing: border-box;
  }

  .saveIcon {
    font-size: 20px;
    font-size: 1em;

    cursor: pointer;
  }
  .cancelIcon {
    font-size: 20px;
    font-size: 1em;

    cursor: pointer;
  }
  .deleteIcon {
    font-size: 20px;
    font-size: 1em;

    cursor: pointer;
  }

  .editIcon {
    font-size: 1em;
    cursor: pointer;
  }
  .favIcon {
    font-size: 20px;
    font-size: 1em;

    cursor: pointer;
  }

  /* _____MAXIMIZE IMAGE STYLES_______ */
}

/* <Icon icon={bookmarkStarFill} width="17" /> */
/* <Icon icon={bookmarkStar} width="17" /> */
/* <Icon  icon={pencilIcon} className={styles.pencilIcon} color="#9baece" /> */
/* <Icon icon={trashCan} width="17" /> */
/* <Icon icon={circleXFill} width="17" /> */
/* <Icon icon={circleCheckFill} width="17" /> */
/* <Icon icon={checkIcon} width="17" /> */
/* <Icon icon={xLg} width="17" /> */
/* <Icon icon={trashIcon} className={styles.trashIcon} color="#9baece" /> */

/* import pencilIcon from "@iconify-icons/akar-icons/pencil";
import bookmarkStarFill from "@iconify-icons/bi/bookmark-star-fill";
import bookmarkStar from "@iconify-icons/bi/bookmark-star";
import circleXFill from "@iconify-icons/akar-icons/circle-x-fill";
import circleCheckFill from "@iconify-icons/akar-icons/circle-check-fill";
import checkIcon from "@iconify-icons/bi/check";
import xLg from "@iconify-icons/bi/x-lg";
import trashEmpty from '@iconify-icons/gg/trash-empty'; */

/* // npm install --save-dev @iconify/react @iconify-icons/ph */
/* // npm install --save-dev @iconify/react @iconify-icons/lucide */

/* import { Icon, InlineIcon } from '@iconify/react'; */
/* import trashSimpleBold from '@iconify-icons/ph/trash-simple-bold'; */
/* import pencilIcon from '@iconify-icons/lucide/pencil'; */

/* <Icon icon={trashSimpleBold} /> */
/* <Icon icon={pencilIcon} /> */

/* <Icon icon={starSolid} width="16" /> */
/* <Icon icon={starLine} width="16" /> */
