* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  /* border: 1px solid red; */
  width: 100%;
  min-height: 100vh;

  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: linear-gradient(
    to right top,
    #e6f3ea,
    #e1f1e8,
    #dbefe7,
    #d6ece6,
    #d1eae6,
    #cde8e6,
    #c9e6e5,
    #c5e4e5,
    #c1e2e4,
    #bde0e3,
    #b9dee2,
    #b5dce1
  );
}
html {
  height: -webkit-fill-available;
}

body::-webkit-scrollbar {
  display: none;
}

.app {
  position: relative;
  width: 100vw !important;
  height: 100%;
  display: flex;
  /* display: none; */
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.app::-webkit-scrollbar {
  display: none;
}

.appBgDiv1 {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  /* border:1px solid red; */
}
.section1 {
  width: 45%;
  height: 100%;
  /* border:1px solid black; */

  background-color: #fff9f9;
}
.section2 {
  width: 35%;
  height: 100%;
  /* border:1px solid black; */
  background-color: #f2f1fd;
}
.section3 {
  width: 20%;
  height: 100%;
  /* border:1px solid black; */

  background-color: #f6fbfe;
}
