.formContainer {
  position: absolute;
  /* margin-left: auto; */
  /* margin-right: auto; */
  right: 2%;

  text-align: center;
  display: flex;
  height: 500px;
  width: 250px;
  grid-column-start: 2;
  grid-column-end: 3;
  margin-left: auto;
  margin-right: auto;
  top: 2%;
  /* left: 0; */
  right: 2%;
  border: 1px solid rgb(224, 224, 224);
  background-color: white;
  display: grid;
  grid-template-rows: 10% 1fr 20%;
  border-radius: 20px 20px 20px 20px;

  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
  opacity: 1 !important;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 45;


 
  /* border: 1px solid red; */
}
.formContainerCollapse {
  position: absolute;
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* left: 0; */
  /* right: 0; */
  text-align: center;
  top: 0px;
  right: 5%;
  width: 0px;
  height: 0px;
  grid-column-start: 2;
  grid-column-end: 3;
  /* border: 1px solid red; */
  background-color: white;
  display: grid;
  grid-template-rows: 10% 1fr 25%;
  /* margin: 1px 0px 0px 0px; */
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 0px 0px 20px 0px;
  overflow: hidden;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.formHeadingDiv {
  width: 70%;
  height: 50%;
  width: 70%;
  height: 50%;
  max-width: 145px;
  /* min-width: 120px; */
  min-height: 23px;
  /* border-bottom: 1px solid gray; */
  /* grid-row-start: 1; */
  grid-row-end: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 10px 30px;
  border-radius: 8px;
  margin: 5% auto 0px auto;
  background-color: #2f89fc;
  background-color: #4cd7f6;

}
.formHeadingDiv p {
  font-family: "Nunito", sans-serif;
  font-family: "Quicksand", sans-serif;

  color: white;
  font-weight: bold;
  margin: 0px;
}
.formDiv {
  grid-row-start: 2;
  grid-row-end: 3;
  width: 100% !important;
  height: 100%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formBtnDiv {
  grid-row-start: 3;
  grid-row-end: 4;
  width: 100%;
  height: 90%;
  /* border: 1px solid black; */
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.inputContainer {
  width: 90%;
  height: 30px;
  /* border: 1px solid black; */
  margin: 10px 0px 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  /* border: 1px solid black; */

}

@media screen and (max-width: 550px) {
  .formContainer {
    position: absolute;
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* left: 0; */
    right: 2%;
    /* text-align: center; */
    height: 80% !important;
    width: 90%;
    grid-column-start: 2;
    grid-column-end: 3;
    /* width: inherit; */
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    /* top: 1%; */
    left: 0;
    right: 0;
    /* border-left: 1px solid rgb(224, 224, 224); */
    background-color: white;
    display: grid;
    grid-template-rows: 10% 1fr 25%;
    transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
    border-radius: 20px 20px 20px 20px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* box-shadow: 20px 20px 30px 0 rgba(0, 0, 0, 0.1); */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;








  }
}
