.contentDisplay {
  position: relative;
  width: 100%;
  height: 100%;
  grid-row-start: 3;
  grid-row-end: 4;
  /* grid-column-start: 2; */
  /* grid-column-end: 3; */
  /* border: 1px solid orangered; */
  display: flex;
  justify-content: flex-start;
  justify-content: center;
  align-items: center;

  /* margin: 0px 0px 0px 1px; */


  /* background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur( 20px ); */
  
}
