.docFormContainer {
  position: absolute;
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* left: 0; */
  right: 2%;
  /* text-align: center; */
  width: 250px;
  /* height: 250px; */
  aspect-ratio: 4/5;

  /* margin-left: auto; */
  /* margin-right: auto; */
  margin-top: auto;
  margin-bottom: auto;
  top: 2%;
  /* left: 0; */
  right: 2%;
  grid-column-start: 2;
  grid-column-end: 3;
  /* border: 1px solid rgb(224, 224, 224); */
  background-color: white;
  /* display: grid; */
  /* grid-template-rows: 10% 1fr 25%; */
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 8px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 30;
  /* box-shadow: 20px 20px 30px 0 rgba(0, 0, 0, 0.1); */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.docFormContainerCollapse {
  position: absolute;
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* left: 0; */
  right: 2%;
  /* text-align: center; */
  height: 0px;
  width: 0px;
  grid-column-start: 2;
  grid-column-end: 3;
  /* border-left: 1px solid rgb(224, 224, 224); */
  background-color: white;
  /* display: grid; */
  /* grid-template-rows: 10% 1fr 25%; */
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* box-shadow: 20px 20px 30px 0 rgba(0, 0, 0, 0.1); */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

form {
  position: relative;
  /* bottom: 0; */
  display: grid;
  grid-template-rows: 20% 20% 20% 20%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  width: 99%;
  height: 99%;
}

.titleInputDiv {
  position: relative;
  grid-row-start: 3;
  grid-row-end: 4;
  /* border: 1px solid rgb(202, 200, 200); */
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 30px;
  border-radius: 2px;
}
.titleInputDiv p {
  font-family: "Quicksand", sans-serif;

  color: #8b8ea1 !important;
  /* font-weight: 650; */
  letter-spacing: 0.2px;
  font-size: 13px;
  text-transform: uppercase;
}
.titleInput {
  width: 80%;
  height: 22px;
  border-top: none;
  border-left: none;
  border-right: none;
  border: 1px solid #dbdbe3;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  outline: none;
}
.titleInput:focus {
  border: 2px solid #1072f1;
}
.btnDiv {
  position: absolute;
  bottom: 0px;
  grid-row-start: 4;
  grid-row-end: 5;
  /* border: 1px solid black; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  /* margin-left: auto; */
  /* margin-right: auto; */
}

.btnDiv button {
  width: 60%;
  height: 30px;
  background-color: #0075ff;
  border: none;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* outline: 2px double slategray; */
}
button p {
  font-family: "Quicksand", sans-serif;
  /* text-transform: uppercase; */
  font-size: 13px;
  color: white;
  font-weight: 550;
  margin: 0px 0px 0px 0px;
  letter-spacing: 0.3px;
}

.fileInputDiv {
  position: relative;
  grid-row-start: 2;
  grid-row-end: 3;
  border: 1px dotted #0075ff;
  width: 70%;
  height: 40px;
  display: flex;
  flex-direction: row;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 30px;
  border-radius: 10px;
  background-color: #0077ff1f;
  color: #8b8ea1;
  font-family: "Quicksand", sans-serif;

  /* font-weight: bold; */
  letter-spacing: 0.5px;
  font-size: 15px;
  /* text-decoration: underline; */
  -webkit-text-stroke: 0.01em;
  margin-left: auto;
  margin-right: auto;
}
.fileInputDiv p {
  font-family: "Quicksand", sans-serif;

  color: #0075ff;
  /* font-weight: 650; */
  letter-spacing: 0.5px;
  font-size: 12px;
  /* color: black; */
}

.fileInput {
  border: none;
  outline: none;
  background: none;
  /* width:90%; */
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  /* height: 30px !important; */
  margin: 0px 0px 0px 10px;
}

.fileInput::-webkit-file-upload-button {
  visibility: hidden;
  border: none;
  background: #071a52;
  font-family: "Nunito", sans-serif;
  font-family: "Quicksand", sans-serif;

  color: black;
  /* font-weight: 650; */
  /* letter-spacing: 0.2px; */
  font-size: 13px;
  border-radius: 5px;
  background-color: #dae5eb;
}
.fileInput:hover {
  cursor: pointer;
}
/* .fileInput:hover::before {
  border-color: black;
}
.fileInput:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
} */

@media screen and (max-width: 550px) {
  .docFormContainer {
    position: absolute;
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* left: 0; */
    right: 2%;
    /* text-align: center; */
    /* height: 250px; */
    width: 70%;
    aspect-ratio: 1/1;

    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    top: 10%;
    left: 0;
    right: 0;
    grid-column-start: 2;
    grid-column-end: 3;
    /* border-left: 1px solid rgb(224, 224, 224); */
    background-color: white;
    /* display: grid; */
    /* grid-template-rows: 10% 1fr 25%; */
    transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 30;
    /* box-shadow: 20px 20px 30px 0 rgba(0, 0, 0, 0.1); */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
