.docsList {
  /* position: relative; */
  width: 99%;
  height: 100%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  /* border: 1px solid rgba(175, 173, 173, 0.377); */

  align-content: flex-start;
  /* align-items: center; */
  /* justify-content: flex-start; */
  border-radius: 10px 10px 0px 0px;

  overflow-y: scroll;
  background-color: #f6f6f6;
  background-color: #dae5eb;

  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
}

.display {
  width: 100%;
  height: 100%;
  border: 1px solid blue;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}

.docsList::-webkit-scrollbar {
  background-color: #fff;
  height: 4px;
  width: 5px;
}
.docsList::-webkit-scrollbar-track {
  background-color: rgb(231, 228, 228);
  width: 2px;
}
.docsList::-webkit-scrollbar-thumb {
  background-color: #2f89fc;
  border-radius: 4px;
}

.docsList::-webkit-scrollbar {
  background-color: #fff;
  height: 4px;
  width: 5px;
  /* display: none; */
}
.docsList::-webkit-scrollbar-track {
  background-color: rgb(231, 228, 228);
}
.docsList::-webkit-scrollbar-thumb {
  background-color: #2f89fc;
  border-radius: 4px;
}
.loadingDiv {
  position: absolute;
  right: 200px;
  top: -50px;
  width: 160px;
  height: 30px;
  border: 1px solid rgb(179, 178, 178);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loadingDiv p {
  margin: 0px 0px 0px 2px;
  font-family: "Nunito", sans-serif;
  color: slategray;
  font-weight: 550;
  letter-spacing: 0.2px;
  font-size: 14px;
}
.loadingDiv span {
  margin: 0px 0px 0px 2px;
  font-family: "Nunito", sans-serif;
  color: slategray;
  font-weight: 550;
  letter-spacing: 0.2px;
  font-size: 12px;
}
