.documentCard {
  position: relative;
  width: 180px;
  min-width: 180px;
  height: 250px;
  min-height: 250px;
  display: flex;
  /* justify-content: space-around; */
  /* align-items: center; */
  /* border: 1px solid red; */
  display: grid;
  grid-template-rows: 80% 20%;
  /* grid-gap: 1px; */
  margin: 15px 0px 20px 30px;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px; */
  border-radius: 5px;
  /* background-color: rgba(255, 255, 255, 0.021); */
  /* background-color: white; */
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(68, 61, 61, 0.24); */
  /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
  /* border: 1px solid rgba(5, 5, 5, 0.082); */
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.075), 0 5px 5px rgba(0, 0, 0, 0.048);
  /* border: 1px solid white; */
  background-color: rgba(255, 255, 255, 0.411);
  /* filter: blur(50px); */
  /* backdrop-filter: blur(20px); */
  /* -webkit-backdrop-filter: blur(20px); */
  overflow: hidden;
  z-index: inherit;
}

.imageContainer {
  grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px 5px 0px 0px;
}
.imageContainerMaximize {
  grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
  height: 100%;
  /* border: 1px solid cyan; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.docImg {
  height: 90%;
  width: 90%;
  object-fit: contain;
  /* object-fit: fill; */
  cursor: pointer;
}
.docImgMaximized {
  height: 99%;
  width: 99%;
  object-fit: contain;
  /* object-fit: fill; */
  cursor: pointer;
}

/* max-width: 90%; */
/* max-height: 90%; */

.imageTitleContainer {
  grid-row-start: 2;
  grid-row-end: 3;
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  display: grid;
  /* display: none; */

  /* grid-template-rows: 80% 20; */
  grid-template-rows: 50% 50%;
  /* justify-content: center; */
  /* align-items: center; */
  /* background: rgba(255, 255, 255, 0.75); */
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  /* backdrop-filter: blur(16px); */
  /* -webkit-backdrop-filter: blur(16px); */
  border-radius: 0px 0px 5px 5px;
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px; */
  background: #ffffff;
  /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
  /* backdrop-filter: blur( 20.0px ); */
  /* -webkit-backdrop-filter: blur( 20.0px ); */
}
.titleDiv {
  grid-row-start: 1;
  grid-row-end: 2;
  /* grid-row-start: 1; */
  /* grid-row-end: 2; */
  /* border: 1px solid black; */
  width: 100%;
  height: 100%;
  display: flex;
  /* display: none; */

  justify-content: center;
  text-align: center;
  align-items: center;
  overflow-x: scroll;
  background: #ffffff;

  /* overflow-wrap: normal; */
}
.titleDiv p {
  font-family: "Nunito", sans-serif;
  font-family: "Quicksand", sans-serif;

  color: black;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  /* margin: 0px 10px 0px 20px; */
}
.titleDiv::-webkit-scrollbar {
  display: none;
}

.buttonContainer {
  position: relative;
  width: 100%;
  height: 100%;
  grid-row-start: 2;
  grid-row-end: 3;
  /* border: 1px solid blue; */
  display: flex;
  /* display: none; */

  justify-content: center;
  align-items: center;
  /* background: rgba(255, 255, 255, 0.75); */
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  /* backdrop-filter: blur(16px); */
  /* -webkit-backdrop-filter: blur(16px); */
  /* border-radius: 10px 10px 0px 0px; */
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  /* border: 1px solid red; */
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px; */
  /* background: rgba(255, 255, 255, 0.452); */
  /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
  /* backdrop-filter: blur( 20.0px ); */
  /* -webkit-backdrop-filter: blur( 20.0px ); */
}

.favBtnDiv {
  width: 25%;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid blue; */
  /* margin: 0px 10px 0px 10px; */
}
.favBtn {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid blue; */
}

.favIcon:hover {
  color: #2f89fc;
}
.editBtnWrapper {
  /* grid-row-start: 2; */
  /* grid-row-end: 3; */
  grid-column-start: 2;
  grid-column-end: 3;
  /* border: 1px solid black; */
  width: 25%;
  height: 100%;
  /* font-size: 10px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.editBtnDiv {
  width: 100%;
  height: 100%;
  color: gray;

  /* border: 1px solid red; */
  /* width: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.editBtnDiv :hover {
  color: orange;
}

.cancelBtnDiv {
  /* border: 1px solid red; */
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.cancelBtnDiv :hover {
  color: red;
}
.saveBtnDiv {
  width: 50%;
  height: 100%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* ICONS */

.saveIcon {
  font-size: 18px;
  cursor: pointer;
}
.cancelIcon {
  font-size: 18px;
  cursor: pointer;
}
.deleteIcon {
  font-size: 18px;
  cursor: pointer;
}

.editIcon {
  font-size: 18px;
  cursor: pointer;
}
.favIcon {
  font-size: 18px;
  cursor: pointer;
}
.favIconFilled {
  font-size: 19px;
  cursor: pointer;
}

.imageDeleteBtnDiv {
  width: 25%;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid blue; */
  /* margin: 0px 20px 0px 0px; */
  color: gray;
  color: #b3bac3;
}
.imageDeleteBtnDiv:hover {
  color: #d11a2a;
  transform: scale(1.05);
  /* box-shadow: 20px 20px 30px 0 rgba(0, 0, 0, 0.1); */

  /* transition: all 0.1s cubic-bezier(0.25, 0.8, 0.25, 1); */
}

.titleInput {
  width: 90%;
  /* height: 80%; */
  overflow-x: scroll;
  outline: none;
  border-bottom: 1px solid rgb(151, 151, 151);
  border-top: none;
  border-left: none;
  border-right: none;
  border: 1px dotted rgb(255, 196, 1);
  background-color: rgb(255, 255, 255);
  border-radius: 5px;

  /* display: flex; */
  /* justify-content: flex-start; */
  /* align-items: center; */
  /* border: 1px solid rgb(151, 151, 151); */
  text-align: center;
  color: black;
  margin: 0px 0px 0px 3px;
  font-size: 15px;
}

.maximize {
  position: absolute;
  /* width: 25px; */
  /* height: 500px; */
  margin-left: auto;
  margin-right: auto;
  top: -120px;
  /* left: -40px; */
  right: 0;
  width: 100vw;
  height: 101vh;
  /* width: 90vw; */
  /* height: 90vh; */
  /* border: 1px solid red; */
  /* display: grid;
  grid-template-rows: 8% 80% 10%;
  margin: 10px 10px 10px 10px; */
  display: flex;
  /* grid-template-rows: 8% 80% 10%; */
  /* margin: 10px 10px 10px 10px; */
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px; */
  /* background-color: rgba(255, 255, 255, 0.993); */
  background-color: black;
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
  background: rgba(255, 255, 255, 0.25);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  background: rgba(28, 27, 27, 0.788);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  z-index: 45;

}
.minimizeBtn {
  z-index: 10;
  color: gray;
  font-size: 15px;
}

@media screen and (max-width: 465px) {
  .documentCard {
    position: relative;
    height: 300px;
    display: flex;
    transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
    display: grid;
    grid-template-rows: 80% 20%;
    /* grid-gap: 1px; */
    margin: 20px 15px 20px 15px;
    border-radius: 3px;

    width: 75%;
    /* min-width: 180px; */
    /* height: 250px; */
    /* min-height: 250px; */
    margin-left: auto;
    margin-right: auto;
  }
  .maximize {
    position: absolute;
    /* width: 25px; */
    /* height: 500px; */
    margin-left: auto;
    margin-right: auto;
    top: 0;
    /* left: -40px; */
    right: 0;
    /* width: 99%; */
    /* width: 99vw; */
    /* height: 95%; */
    top: -118px;
    /* left: -40px; */
    right: 0;
    width: 100vw;
    height: 101vh;

    /* border: 1px solid red !important; */
    /* display: grid;
    grid-template-rows: 8% 80% 10%;
    margin: 10px 10px 10px 10px; */
    display: flex;
    /* grid-template-rows: 8% 80% 10%; */
    /* margin: 10px 10px 10px 10px; */
   
    background-color: black;
    transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
   

    background: rgba(28, 27, 27, 0.788);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
    z-index: 45;
  }
  
.saveIcon {
  font-size: 19px;
  cursor: pointer;
}
.cancelIcon {
  font-size: 19px;
  cursor: pointer;
}
.deleteIcon {
  font-size: 19px;
  cursor: pointer;
}

.editIcon {
  font-size: 19px;
  cursor: pointer;
}
.favIcon {
  font-size: 19px;
  cursor: pointer;
}
.favIconFilled {
  font-size: 19px;
  cursor: pointer;
}

}
