.favListComponent {
  width: 99%;
  height: 100%;
  display: grid;
  grid-template-rows: 5% 95%;

  /* border: 1px solid red; */
}
.favList {
  width: 100%;
  height: 100%;
  /* border: 1px solid rgba(175, 173, 173, 0.377); */

  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  flex-wrap: wrap;
  /* border-radius: 20px; */
  border-radius: 10px 10px 0px 0px;
  background-color: #f6f6f6;
  background-color: #dae5eb;


  /* justify-content: center; */
  align-items: center;
  align-content: flex-start;
}

.favList::-webkit-scrollbar {
  display: none;
}
.contentContainer {
  grid-row-start: 2;
  grid-row-end: 3;
  /* border: 1px solid blue; */
  width: 100%;
  height: 100%;
}
.navHeaderContainer {
  grid-row-start: 1;
  grid-row-end: 2;
  /* border-bottom: 1px solid rgb(201, 201, 201); */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.links {
  margin: 0px 0px 0px 0px;
}
.navLink {
  text-decoration: none;
  width: 100px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  letter-spacing: 0.2px !important;
  font-weight: 650;
  color: gray;
  /* transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); */
}
