.favListComponent {
  width: 100%;
  height: 100%;
  display: grid;
  /* grid-template-rows: 6% 95%; */
  /* grid-template-rows: 35px 95%; */
  grid-template-rows: 35px minmax(0, 1fr);

  /* border: 1px solid red; */
}
.navHeaderContainer {
  grid-row-start: 1;
  grid-row-end: 2;
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background: rgba(255, 255, 255, 0.589); */
  /* backdrop-filter: blur(4px); */
  /* -webkit-backdrop-filter: blur(4px); */
  margin: 0px 0px 0px 0px;
  /* background-color: #f4fff9; */
  color: black;

}
.contentContainer {
  grid-row-start: 2;
  grid-row-end: 3;
  /* border: 1px solid blue; */
  width: 100%;
  height: 100%;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  /* background-color: white; */
  /* overflow-y: scroll; */
}

/* For FavCardList and FavLoginIdList */
.favList {
  position: relative;
  width: 100%;
  height: 99%;
  /* border: 1px solid orange; */
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  /* background-color: #f4fff9; */
 
}

.favList::-webkit-scrollbar {
  background-color: #fff;
  height: 4px;
  width: 5px;
}
.favList::-webkit-scrollbar-track {
  background-color: rgb(231, 228, 228);
  width: 2px;
}
.favList::-webkit-scrollbar-thumb {
  background-color: #2f89fc;
  border-radius: 4px;
}

/* Only for FavDocsList */
.favDocList {
  width: 100%;
  height: 100%;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  flex-wrap: wrap;

  align-items: center;
  align-content: flex-start;
  /* background-color: #f4fff9; */
 
}
.favDocList::-webkit-scrollbar {
  background-color: #fff;
  height: 4px;
  width: 5px;
}
.favDocList::-webkit-scrollbar-track {
  background-color: rgb(231, 228, 228);
  width: 2px;
}
.favDocList::-webkit-scrollbar-thumb {
  background-color: #2f89fc;
  border-radius: 4px;
}

.links {
  margin: 0px 0px 0px 0px;
}
.navLink {
  text-decoration: none;
  width: 100px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  /* font-family: "Nunito", sans-serif; */
  font-family: "Quicksand", sans-serif !important;

  font-size: 14px;
  letter-spacing: 0.2px !important;
  font-weight: 650;
  color: black;
  /* transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); */
}
