.favouriteContainer {
  width: 95%;
  height: 75px;
  border: 1px solid rgb(235, 233, 233);
  margin: 2px 0px 2px 10px;
  /* border-radius: 5px; */
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.favouriteCardContainer {
  width: 95%;
  height: 70px;
  border: 1px solid rgb(235, 233, 233);
  margin: 10px 0px 10px 0px;
  border-radius: 5px;
  background-color: white;
  display: grid;
  grid-template-columns: 30% 30% 30% 10%;
  border: 1px solid rgb(233, 230, 230);
  /* background-color: rgb(253, 249, 249); */
  /* border: 1px solid black; */

  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */

  /* justify-content: center; */
  align-items: center;
}
.favCardBankDiv {
  grid-column-start: 1;
  grid-column-end: 2;
  width: 100%;
  height: 50%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding-left: 5%;

}
.favCardUserDiv {
  grid-column-start: 2;
  grid-column-end: 3;
  width: 100%;
  height: 50%;
  /* border: 1px solid black; */
  border-left: 1px solid rgb(228, 225, 225);

  display: flex;
  flex-direction: column;

  justify-content: center;
  /* align-items: center; */
  padding-left: 5%;

}
.favCardNoDiv {
  grid-column-start: 3;
  grid-column-end: 4;
  width: 100%;
  height: 50%;
  border-left: 1px solid gray;
  border-left: 1px solid rgb(228, 225, 225);

  display: flex;
  flex-direction: column;

  justify-content: center;
  /* align-items: center; */
  padding-left: 5%;
}
.favLogoDiv {
  grid-column-start: 4;
  grid-column-end: 5;
  width: 100%;
  height: 50%;
  border-left: 1px solid gray;
  border-left: 1px solid rgb(228, 225, 225);

  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  margin: 0px 0px 0px 0px;
  font-family: "Nunito", sans-serif;
  /* margin: 10px 0px 0px 5px; */
  font-size: 14px;
  font-weight: 550;

  /* letter-spacing: 0.3px; */
  color: slategray;
}
small{
  margin: 0px 0px 0px 0px;
  font-family: "Nunito", sans-serif;
  /* margin: 10px 0px 0px 5px; */
  /* font-size: 14px; */
  /* font-weight: 550; */

  /* letter-spacing: 0.3px; */
  color: gray;
}
.favBtn {
  /* position: absolute; */
  /* top: 0px; */
  /* right: 0px; */
  background: none;
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.favBtn:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
