.mainComponent {
  width: 100%;
  height: 100%;
  /* background-color: #f6f7ff ; */
  /* border: 1px solid black; */
  /*  */
  /* border: 1px solid red; */
}

.homeComponent {
  position: relative;
  width: 100%;
  height: 100%;
  /* border: 1px solid orange; */
  display: grid;
  grid-template-rows: 10% 5% 85%;
  grid-template-columns: 5% 95%;

  grid-template-columns: 40px 1fr;
  background-color: #dae5eb;
  overflow: hidden;
  /* background-color: gray; */
  /* background-color: #071a52; */
  /* grid-gap: 10px; */
  align-items: center;
  /* justify-content: center; */
  /* background-color: #f6f7ff; */
  background-color: white;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  /* border-radius: 10px; */
  /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */

  /* background-color: gray; */

  align-items: center;
}
.headingDiv {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  width: 95% !important;
  height: 100%;
  /* border-bottom: 1px solid rgb(212, 210, 210); */
  font-family: "Nunito", sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* background-color:white; */
  /* background-color: #d6e1e7; */
  /* background-color: #d6e1e7; */
  /* border: 1px solid orange; */

  /* border-top: 1px solid rgb(148, 147, 147); */
  /* border-bottom: 1px solid rgb(196, 196, 196); */

  /* z-index: -1; */
}
.headingText {
  font-family: "Nunito", sans-serif;
  color: black;
  /* color: slategray; */
  margin: 0px 0px 0px 3%;
  font-size: 20px;
  font-weight: 750;
  /* text-decoration: double; */
}
