.mainComponent {
  width: 100%;
  height: 100%;
  /* background-color: #f6f7ff ; */
  /* border: 1px solid black; */
  /*  */
  /* border: 1px solid red; */
}

.homeComponent {
  position: relative;
  width: 100%;
  height: 100%;
  /* width: 90%; */
  /* height: 90%; */
  /* border: 1px solid orange; */
  display: grid;
  /* display :none; */
  /* grid-template-rows: 10% 5% 85%; */
  /* grid-template-columns: 5% 95%; */

  grid-template-rows: 80px 35px 100%;
  grid-template-rows: 80px 35px minmax(0, 1fr);

  grid-template-columns: 0px 1fr;
  align-items: center;
  overflow: hidden;
  /* grid-gap:5px; */

  /* grid-template-columns: 0px 1fr; */

  /* background-color: #cfd1dd; */
  /* background-color: gray; */
  /* background-color: #071a52; */
  /* grid-gap: 10px; */
  /* justify-content: center; */
  /* background-color: #f6f7ff; */
  /* background-color: white; */
  /* background: rgba(255, 255, 255, 1); */
  /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
  /* background: hsla(250, 13%, 91%, 1);

  background: linear-gradient(90deg, hsla(250, 13%, 91%, 1) 1%, hsla(231, 13%, 80%, 1) 100%);
  
  background: -moz-linear-gradient(90deg, hsla(250, 13%, 91%, 1) 1%, hsla(231, 13%, 80%, 1) 100%);
  
  background: -webkit-linear-gradient(90deg, hsla(250, 13%, 91%, 1) 1%, hsla(231, 13%, 80%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E6E5EB", endColorstr="#C4C6D2", GradientType=1 ); */

  /* filter:  drop-shadow(0px 20px 10px rgba(0, 0, 0,  0.30)); */

  background-color: rgba(255, 255, 255, 0.432);
  -webkit-backdrop-filter: blur(2em);
  backdrop-filter: blur(2em);




}

.homeComponentExpand {
  grid-template-columns: 40px 1fr !important;
}
.headingDiv {
  position: relative;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  width: 100% !important;
  height: 100%;
  /* border-bottom: 1px solid rgb(212, 210, 210); */
  /* border-bottom: 1px solid rgb(37, 37, 37); */
  /* border-bottom: 1px solid #bcdfe3; */

  font-family: "Quicksand", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color:white; */
  /* background-color: #d6e1e7; */
  /* background-color: #d6e1e7; */
  /* border: 1px solid orange; */
  margin-left: auto;
  margin-right: auto;

  /* border-top: 1px solid rgb(148, 147, 147); */
  /* border: 1px solid red; */


  /* background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  
background: rgba(255, 255, 255, 0.589);
backdrop-filter: blur(4px);
-webkit-backdrop-filter: blur(4px);


backdrop-filter: blur(14px) saturate(200%);
-webkit-backdrop-filter: blur(14px) saturate(200%);
background-color: rgba(255, 255, 255, 0.36); */

  /* background: rgba(255, 255, 255, 0.589);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); */
  /* background-color: #f4fff9; */
  /* background: #ffffff; */
 

/* background: rgba( 255, 255, 255, 0.25 ); */
/* backdrop-filter: blur( 16.5px ); */
/* -webkit-backdrop-filter: blur( 16.5px ); */


/* background-color: rgba(255, 255, 255, 0.062);
-webkit-backdrop-filter: blur(20px);
backdrop-filter: blur(20px); */
}

.headingTextWrapper {
  /* width:100px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 85%; */
  /* border: 1px solid black; */
}
.headingText {
  font-family: "Quicksand", sans-serif;
  /* font-family: 'Varela Round', sans-serif; */

  color: black;
  /* color: slategray; */
  /* margin: 0px 0px 0px 3%; */
  font-size: 20px;
  font-weight: bold;
  /* text-decoration: double; */
}
.hamburgerContainer {
  width: 39px;
  height: 39px;
  /* border: 1px solid black; */
  position: absolute;
  left: 0px;
  top: 82px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 0px;
  /* z-index: 20; */
}

/* media query */
/* @media screen and (min-height: 700px) {
  .homeComponent {
    border: 1px solid orange;
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 80px 35px 100%;
    grid-template-columns: 5% 95%;
    grid-template-columns: 40px 1fr;
    background-color: #dae5eb;
    overflow: hidden;
    align-items: center;
    background-color: white;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    align-items: center;
  }
} */
