.loginsList {
  /* position: static; */
  width: 99%;
  height: 99%;
  /* border: 1px solid rgba(175, 173, 173, 0.377); */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  align-content: center;
  background-color: #f6f6f6;
  background-color: #dae5eb;

  overflow: hidden;
  border-radius: 10px 10px 0px 0px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
  /* box-shadow: 20px 20px 30px 0 rgba(0, 0, 0, 0.1); */
}

.contentContainer {
  /* position: absolute; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  /* background-color: white; */
  /* background-color: #482ff7; */
  /* border-radius: 10px 10px 10px 10px; */
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  scroll-behavior: smooth;

  overflow-y: scroll;

  /* border: 1px solid green; */
}

.contentContainerCollapse {
  border-radius: 0px 0px 0px 0px;
  width: 100%;
  height: 100%;
  /* width: 70% !important; */
  /* border: 1px solid green; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow-y: scroll !important;
  /* align-items: center; */
  scroll-behavior: smooth;

  /* background-color: rgb(255, 255, 255); */
  /* background-color: #482ff7; */
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  /* border-radius: 0px 0px 0px 0px; */
}

.contentContainer::-webkit-scrollbar {
  background-color: #fff;
  height: 4px;
  width: 5px;
  /* display: none; */
}
.contentContainer::-webkit-scrollbar-track {
  background-color: rgb(231, 228, 228);
  width: 2px;
}
.contentContainer::-webkit-scrollbar-thumb {
  background-color: #2f89fc;
  border-radius: 4px;
}

.contentContainerCollapse::-webkit-scrollbar {
  background-color: #fff;
  height: 4px;
  width: 5px;
}
.contentContainerCollapse::-webkit-scrollbar-track {
  background-color: rgb(231, 228, 228);
}
.contentContainerCollapse::-webkit-scrollbar-thumb {
  background-color: #2f89fc;
  border-radius: 4px;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.ldsRing div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
