.formComponent {
  position: absolute;
  /* position: relative; */
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* height: 400px; */
  aspect-ratio: 4/5;
  top: 2%;
  right: 0;
  left: 0;
  /* border: 1px solid rgba(114, 114, 114, 0.164); */
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  background-color: white;
  /* background-color: rgb(255, 255, 255); */
  /* backdrop-filter: blur(4px); */
  /* -webkit-backdrop-filter: blur(4px); */
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);

  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.075), 0 5px 5px rgba(0, 0, 0, 0.048);
  box-sizing: border-box;
  z-index: 45;
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  -ms-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  -o-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  background: rgba(255, 255, 255, 0.25);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 5px;

}
.formComponentClose {
  position: absolute;
  /* position: relative; */
  bottom: 0%;
  top: 0%;
  /* right: 50%; */
  width: 0px;
  height: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  overflow: hidden;
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-animation: scale-out-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: scale-out-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
.formTag {
  border: 1px solid rgba(0, 0, 0, 0.062);
  position: relative;
  width: 100%;
  height: 100%;
  /* aspect-ratio: 1/1; */
  /* top: 2%; */
  /* right: 0; */
  /* left: 0; */
  display: grid;
  grid-template-rows: 14% 22% 22% 22% 22%;
  grid-template-columns: 100%;

  grid-template-areas:
    "headingWrapper"
    "websiteWrapper"
    "userNameWrapper"
    "passwordWrapper"
    "buttonWrapper";

  /* margin-left: auto; */
  /* margin-right: auto; */
  background-color: white;

  /* background-color: rgba(255, 255, 255, 0.938); */
  /* backdrop-filter: blur(20px); */
  /* -webkit-backdrop-filter: blur(20px); */
  box-sizing: border-box;
  border-radius: 8px;
  padding: 0 15px 0 15px;
  /* grid-gap: 5px; */
}

.headingWrapper {
  position: relative;
  grid-area: headingWrapper;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid #1072f1;
  /* border: 1px solid #1072f1; */
}
.HeadingText {
  font-family: "Quicksand", sans-serif;
  /* text-transform: uppercase; */
  font-size: 15px;
  color: black;
  /* font-weight: bold; */
  margin: 0px 0px 0px 2px;
  letter-spacing: 0.3px;
}

.websiteWrapper {
  grid-area: websiteWrapper;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
}

.userNameWrapper {
  grid-area: userNameWrapper;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
}
.passwordWrapper {
  grid-area: passwordWrapper;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  /* border: 1px solid orange; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
}

.buttonWrapper {
  grid-area: buttonWrapper;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.buttonWrapper button {
  width: 80%;
  height: 30px;
  background-color: #0075ff;
  border: none;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* outline: 2px double slategray; */
}
button p {
  font-family: "Quicksand", sans-serif;
  /* text-transform: uppercase; */
  font-size: 13px;
  color: white;
  font-weight: 550;
  margin: 0px 0px 0px 0px;
  letter-spacing: 0.3px;
}
.labelDiv {
  height: 40%;
  width: 100%;
  /* border: 1px solid black; */

  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  box-sizing: border-box;
  /* padding-left: 5%; */
}
.labelText {
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  color: #8b8ea1;
  /* font-weight: bold; */
  margin: 0px 0px 0px 2px;
  letter-spacing: 0.3px;
}
.inputDiv {
  width: 100%;
  height: 60%;
  display: flex;

  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid black; */
  box-sizing: border-box;
  /* padding-left: 5%; */
}
.inputField {
  display: flex;
  /* flex-direction: row; */
  /* justify-content: flex-start; */
  text-align: start;
  width: 100%;
  height: 90%;
  border: 1px solid #dbdbe3;
  border-radius: 5px;
  font-family: "Quicksand", sans-serif;
  font-size: 13px;
  color: slategrey;
  font-weight: 550;
  letter-spacing: 0.4px;

  margin: 0px 0px 0px 0px;
  padding: 0 0 0 10px;
  box-sizing: border-box;
  caret-color: #1072f1;
  outline: none;
}
.inputField:focus {
  /* outline: 1px solid red; */
  border: 2px solid #1072f1;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}
@keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}
@media screen and (max-width: 550px) {

  .formComponent {
    /* width: 280px; */
    width: 75%;

    /* height: 400px; */
    aspect-ratio: 4/5;
  }

}