.formContainer {
  position: absolute;
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* left: 0; */
  right: 2%;
  /* text-align: center; */
  height: 80% !important;
  width: 250px;
  grid-column-start: 2;
  grid-column-end: 3;
  /* width: inherit; */
  margin-left: auto;
  margin-right: auto;
  top: 2%;
  /* left: 0; */
  right: 2%;
  border: 1px solid rgb(224, 224, 224);
  background-color: white;
  display: grid;
  grid-template-rows: 10% 1fr 25%;
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* box-shadow: 20px 20px 30px 0 rgba(0, 0, 0, 0.1); */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 2;
}
.formContainerCollapse {
  position: absolute;
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* left: 0; */
  right: 2%;
  text-align: center;
  width: 0px;
  height: 0px;
  grid-column-start: 2;
  grid-column-end: 3;
  /* border: 1px solid red; */
  background-color: white;
  display: grid;
  grid-template-rows: 20% 1fr 25%;
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 0px 0px 20px 0px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.formHeadingDiv {
  width: 70%;
  height: 50%;
  max-width: 145px;
  /* min-width: 120px; */
  min-height: 23px;
  /* border-bottom: 1px solid gray; */
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin: 5% auto 0px auto;
  background-color: #4cd7f6;
}

.formHeadingDiv p {
  font-family: "Nunito", sans-serif;

  color: rgb(133, 133, 133);
  color: white;

  font-weight: 550;
  margin: 0px;
}
.formDiv {
  grid-row-start: 2;
  grid-row-end: 3;
  width: 100% !important;
  /* max-width: 100%; */
  height: 100%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formBtnDiv {
  grid-row-start: 3;
  grid-row-end: 4;
  width: 100% !important;
  height: 90%;
  /* border: 1px solid black; */
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.inputContainer {
  width: 90%;
  height: 30px;
  /* border: 1px solid black; */
  margin: 10px 0px 10px 0px;
  display: flex;
  /* align-content: center; */
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 250px;
  /* border: 1px solid black; */
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.menu {
  background-color: red;
}

@media screen and (max-width: 550px) {
  .formContainer {
    position: absolute;
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* left: 0; */
    right: 2%;
    /* text-align: center; */
    height: 80% !important;
    width: 90%;
    grid-column-start: 2;
    grid-column-end: 3;
    /* width: inherit; */
    margin-left: auto;
    margin-right: auto;
    top: 2%;
    left: 0;
    right: 0;
    /* border-left: 1px solid rgb(224, 224, 224); */
    background-color: white;
    display: grid;
    grid-template-rows: 10% 1fr 25%;
    transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
    border-radius: 20px 20px 20px 20px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* box-shadow: 20px 20px 30px 0 rgba(0, 0, 0, 0.1); */
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  }
}
