.modalContainer {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  /* top: 10%; */
  /* left: 0; */
  /* right: 0; */
  /* bottom: 0; */
  min-width: 250px;
  width: 90%;
  /* width:280px; */
  /* height: 90%; */
  height: 120px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.171);
  background-color: white;
  /* z-index: 10; */
  display: grid;
  grid-template-rows: 1fr 30%;
  /* justify-content: center; */
  align-items: center;
  z-index: 45;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.075), 0 5px 5px rgba(0, 0, 0, 0.048);
    /* border: 1px solid red; */

}
.dialogDiv {
  /* position: absolute; */
  grid-row-start: 1;
  grid-row-end: 2;
  /* border: 1px solid blue; */
  width: 98%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* padding: 5%; */
  /* background-color: white; */
}
.dialogDiv p {
  margin: 0px 0px 0px 0px;
  font-family: "Nunito", sans-serif;
  font-family: "Quicksand", sans-serif;

  font-weight: 650;
  color: black;
  font-size: 13px;
}
.modalBtnDiv {
  grid-row-start: 2;
  grid-row-end: 3;
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.modalCancelBtn {
  width: 40%;
  height: 25px;
  /* border: 1px solid black; */

  /* background-color: transparent; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: rgba(255, 166, 0, 0.411);
}
.modalCancelBtn p {
  font-family: "Nunito", sans-serif;
  font-family: "Quicksand", sans-serif;

  font-weight: 650;
  color: black;
  font-size: 14px;
}
.modalCancelBtn:hover {
  background-color: rgba(255, 166, 0, 0.411);
  cursor: pointer;
}
.modalConfirmBtn {
  width: 100px;
  height: 25px;
  background-color: #ebebee;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border-radius: 5px;
  background-color: rgba(255, 0, 0, 0.486);
  /* padding-left: 2.5px; */
  /* padding-right: 2.5px; */

  /* border: 1px solid black; */

  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
}
.modalConfirmBtn:hover {
  background-color: rgba(255, 0, 0, 0.486);
  cursor: pointer;
}

.modalConfirmBtn p {
  font-family: "Nunito", sans-serif;
  font-family: "Quicksand", sans-serif;

  font-weight: 650;
  color: black;
  font-size: 14px;
  /* width: 100%; */
  margin: 0px 0px 0px 0px;
}
