.navbar {
  /* position: absolute; */
  position: relative;
  /* top: 0px; */
  /* border-bottom: 1px solid #7e7f803d; */
  /* border-bottom: 1px solid rgb(3, 3, 3); */
  border-bottom: 1px solid #bcdfe3;

  /* border: 1px solid blue; */

  grid-row-start: 1;
  grid-row-end: 2;
  /* grid-column-start: 2;
  grid-column-end: 3; */
  grid-column-start: 1;
  grid-column-end: 4;
  width: 100% !important;
  height: 100%;
  display: grid;
  grid-template-columns: 20% 80%;

  /* background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur( 20px ); */

  /* background-color: rgba(255, 255, 255, 0.432);
  -webkit-backdrop-filter: blur(2em);
  backdrop-filter: blur(2em); */

  background-color: rgba(255, 255, 255, 0.432);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);

  background-color: rgba(255, 255, 255, 0.062);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  z-index: 45;
}
.userNamePopupWrapper {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */

  /* top: 0px; */
  /* right: 0px; */
  width: 70px;
  height: 100%;
  /* border: 1px solid black; */
  margin: 0px 0px 0px 0px;
  /* display: none; */
}
.usernameContainer {
  position: relative;
  margin: 0px;
  width: 60px;
  height: 30px;
  display: grid;
  grid-template-columns: 30px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 0px 0px 0px 0px;
  /* border: 1px solid gray; */
  background-color: white;
  /* border: 1px solid rgba(207, 207, 207, 0.418); */
  /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.075), 0 5px 5px rgba(0, 0, 0, 0.048); */
  /* z-index: 45; */
  /* border: 1px solid rgba(207, 207, 207, 0.432); */
}
.nameLetterDiv {
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* border: 1px solid rgba(207, 207, 207, 0.432); */
  /* border: 1px solid #4cd7f6; */

  /* background-color: white; */
  border-radius: 20px;
  /* background: #1d221e; */
  /* background: white; */
  /* backdrop-filter: blur(4px); */
  /* -webkit-backdrop-filter: blur(4px); */
  /* border-radius: 20px; */
  /* z-index: 45; */
  /* margin: 0px 0px 0px 2px; */

  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.041), 0 5px 5px rgba(0, 0, 0, 0.034);
}
.nameLetterDiv p {
  font-weight: 650;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  color: #4cd7f6;
  margin: 0px 0px 0px 0px;
}
.lgBtn {
  /* position: relative; */
  width: 100%;
  height: 100%;
  /* background-color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: 2;
  grid-column-end: 3;
  /* border: 1px solid black; */
  cursor: pointer;
  /* z-index: 45; */
}
.downChevron {
  margin: 0px;
  padding: 0px;
  color: black;
  font-size: 18px !important;
  margin: 0px 0px 0px 0px;
}
.popUp {
  position: absolute;
  right: 15px;
  bottom: -70px;
  width: 150px;
  /* top: 5px; */
  height: 80px;
  background-color: white;
  display: grid;
  grid-template-rows: 50% 50%;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  /* border-radius: 20px; */
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.075), 0 5px 5px rgba(0, 0, 0, 0.048);
  padding: 0px;
  border-radius: 5px;
  /* z-index: 45; */
}

.nameDiv {
  width: 140px;
  height: 40px;
  grid-row-start: 1;
  grid-row-end: 2;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.nameDiv p {
  font-weight: 650;
  font-family: "Quicksand", sans-serif;
  font-size: 15px !important;
  color: black;
  margin: 0px 0px 0px 0px;
}
.lgOutBtnDiv {
  width: 130px;
  height: 25px;
  grid-row-start: 2;
  grid-row-end: 3;
  /* border: 1px solid #4cd7f6; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(253, 1, 1, 0.425);
  cursor: pointer;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.075), 0 5px 5px rgba(0, 0, 0, 0.048);
}

.lgOutBtnDiv p {
  font-weight: 650;
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
  color: white;
  margin: 0px 0px 0px 0px;
}

.nameDiv::-webkit-scrollbar {
  display: none;
}

.downBtn:hover {
  cursor: pointer;
}
.userPopupDiv {
  position: absolute;
  top: 80%;
  right: 10px;
  width: 100px;
  height: 25px;
  border: 1px solid rgba(197, 197, 197, 0.411);
  background-color: white;
  z-index: 20;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid blue; */
  z-index: 22;
}

/* .userPopupDiv:hover {
  border: 1px solid blue;
} */
.logOutBtn {
  outline: none;
  border: none;
  background: none;
  letter-spacing: 0.8px;
  /* border-radius: 50%; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin: 10px 10px 10px 10px; */
}
.logOutBtn p {
  margin: 0px 0px 0px 5px;
  font-family: "Nunito", sans-serif;
  color: #b3bac3;
  font-size: 14px;
  font-weight: 650;
}
.logOutBtn:hover {
  cursor: pointer;
}
.avatarContainer {
  grid-column-start: 2;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  margin: 5px 0px 0px 0px;
  /* border-radius: 50%; */
  /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoContainer {
  position: absolute;
  /* top: 15px; */
  left: 0px;
  /* top: 0px; */
  /* left: 0px; */
  /* margin: 5px 0px 0px 5px; */
  width: 90px;
  height: 40px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
  /* margin: 0px 0px 0px 5px; */
}
.logoText {
  margin: 0px 0px 0px 0px;
  /* color: rgb(150, 150, 150); */

  font-size: 25px;
  font-weight: 650;
  font-family: "Nunito", sans-serif;
  font-family: "Comfortaa", cursive;
  font-family: "Quicksand", sans-serif;

  /* font-family: "Unica One", cursive; */

  color: slategray;
  font-weight: 650;
}
.logoText span {
  color: #4cd7f6;
  font-size: 23px;
  /* font-weight: 700; */
  /* margin: 0px 0px -10px 0px; */

  font-family: "Unica One", cursive;
  font-family: "Big Shoulders Stencil Text", cursive;
  font-family: "Big Shoulders Text", cursive;
  font-family: "Quicksand", sans-serif;
}

.leftPortion {
  grid-column-start: 1;
  grid-column-end: 2;
  /* border: 1px solid black; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.rightPortion {
  grid-column-start: 2;
  grid-column-end: 3;
  /* border: 1px solid black; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.inputContainer {
  width: 200px;
  /* min-width: 100px; */
  height: 25px;
  /* border: 1px solid rgb(236, 236, 236); */
  /* border: 1.5px solid black; */
  margin: 5px 5px 5px 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 8px;
  /* transition: width 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); */
  background-color: white;
  background-color: #b8e2d6;
  background-color: #ffffff;

  /* background-color: #f0f5f6; */

  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */

  /* border: 1px solid red; */
}
.inputContainerSmall {
  width: 30px;
  height: 30px;
  /* border: 1px solid red; */
  margin: 5px 5px 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;

  /* transition: width 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); */
  background-color: #b8e2d6;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
  background-color: #ffffff;
}

.inputDiv {
  position: relative;
  /* width: 100%; */
  height: 90%;
  /* border: 1px solid red; */

  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #b8e2d6; */
}

.inputDiv input {
  width: 90%;
  height: 70%;
  margin: 0px 0px 0px 0px;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  /* border-bottom: 1px solid black; */
  border-bottom: none;
  font-family: "Nunito", sans-serif;
  color: black;
  letter-spacing: 0.3px;
  font-size: 15px;
  font-weight: 650;
  background: transparent;
  /* background-color: #b8e2d6; */
}
.searchIconDiv {
  /* width: 20%; */
  /* height: 90%; */
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 3% 0px 0px;
  /* color:#4cd7f6; */
}
.searchIconDiv :hover {
  cursor: pointer;
}
::placeholder {
  font-family: "Nunito", sans-serif;
  color: slategray;
  font-weight: 550;
  letter-spacing: 0.2px;
  font-size: 13px;
}

/* @media all and (min-width: 500px) {
} */
/*  */
@media screen and (max-width: 500px) {
  .inputContainer {
    width: 65%;
    width: calc(98% - 100px);

    /* min-width: 100px; */
    height: 30px;
    /* border: 1px solid rgb(189, 188, 188); */
    /* border: 1.5px solid black; */
    /* margin: 5px 5px 5px 5px; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 8px;
    /* transition: width 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); */
    background-color: white;
    /* background-color: #b8e2d6; */

    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */

    /* border: 1px solid red; */
  }
}
