.searchCard {
  border: 1px solid black;
  width: 200px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin: 10px 10px 10px 10px;
  font-family: "Nunito", sans-serif;
}
