.searchList {
  position: absolute;
  /* position: static; */
  /* border-top: 1px solid rgba(175, 173, 173, 0.377); */
  overflow: hidden;
  background-color: #dae5eb;
  height: 100%;
  width: 99%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  scroll-behavior: smooth;
  overflow-y: scroll;
  border-radius: 10px 10px 0px 0px;

  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border: 1px solid rgba(175, 173, 173, 0.377);
  z-index: 20;
}

.searchList::-webkit-scrollbar {
  background-color: #fff;
  height: 4px;
  width: 5px;
  /* display: none; */
}
.searchList::-webkit-scrollbar-track {
  background-color: rgb(231, 228, 228);
  width: 2px;
}
.searchList::-webkit-scrollbar-thumb {
  background-color: #2f89fc;
  border-radius: 4px;
}
