.searchList {
  position: absolute;
  /* position: fixed; */
  /* border-top: 1px solid rgba(175, 173, 173, 0.377); */
  bottom: 0;
  /* overflow: hidden; */

  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  scroll-behavior: smooth;
  overflow-y: scroll;
  /* border-radius: 10px 10px 0px 0px; */
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  /* border: 1px solid rgba(175, 173, 173, 0.377); */
  z-index: 20;
  background: rgba(253, 253, 253, 0.281);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(40px);

  background: rgba( 255, 255, 255, 0.20 );
/* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
backdrop-filter: blur( 20.0px );
-webkit-backdrop-filter: blur( 20.0px );
/* border-radius: 10px; */
background: rgba(255, 255, 255, 0.473);
/* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
backdrop-filter: blur( 20.0px );
-webkit-backdrop-filter: blur( 20.0px );
/* border-radius: 10px; */
background: rgba( 74, 144, 226, 0.25 );
/* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
backdrop-filter: blur( 20.0px );
-webkit-backdrop-filter: blur( 20.0px );
/* border-radius: 10px; */


background: rgba(255, 255, 255, 0.267);
/* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
backdrop-filter: blur( 20.0px );
-webkit-backdrop-filter: blur( 20.0px );
background: rgba(255, 255, 255, 0);
/* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
backdrop-filter: blur( 20.0px );
-webkit-backdrop-filter: blur( 11.0px );
/* border-radius: 10px; */
/* border: 1px solid rgba( 255, 255, 255, 0.18 ); */

}

.searchList::-webkit-scrollbar {
  background-color: #fff;
  height: 4px;
  width: 5px;
  z-index: 18;
  /* display: none; */
}
.searchList::-webkit-scrollbar-track {
  background-color: rgb(231, 228, 228);
  width: 2px;
  z-index: 18;
}
.searchList::-webkit-scrollbar-thumb {
  background-color: #2f89fc;
  border-radius: 4px;
  z-index: 18;
}
