/* ______________________________________________ */

:root {
  --sidebarColor: transparent;
}

.sidebar {
  /* display: none; */
  grid-row-start: 1;
  grid-row-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  width: 100% !important;
  height: 100%;
  display: grid;
  /* grid-gap: 1px; */
  grid-template-rows: 10% 1fr 20%;

  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);

  overflow: hidden;
}

.sidebarCollapse {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  width: 100% !important;
  height: 100%;
  display: grid;
  display: none;

  /* grid-gap: 1px; */
  grid-template-rows: 10% 1fr;

  /* border-right: 1px solid #0e0d0d2a; */
  /* border-right: 1px solid #bcdfe3; */

  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);

  overflow: hidden;
  /* background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur( 20px ); */

  /* background-color: rgba(255, 255, 255, 0.432);
  -webkit-backdrop-filter: blur(2em);
  backdrop-filter: blur(2em); */

  /* background-color: rgba(255, 255, 255, 0.062);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px); */
  
  background-color: rgba(255, 255, 255, 0.267);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

.burgerBtnContainer {
  position: relative;

  width: 99%;
  height: 100%;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  /* display: none; */

  justify-content: flex-end !important;
  align-items: center;
  margin: 0px 0px 0px 0px;
  /* transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); */
  /* background: rgba(255, 255, 255, 0.747);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); */
  /* border: 1px solid red; */
  /* backdrop-filter: blur(14px) saturate(200%);
  -webkit-backdrop-filter: blur(14px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.36); */
  /* background-color: #f4fff9;
  background: rgba( 255, 255, 255, 0.25 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );

  background: rgba(119, 148, 107, 0.85);
backdrop-filter: blur( 11.0px );
-webkit-backdrop-filter: blur( 11.0px );
background: rgba( 255, 255, 255, 0.25 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px ); */
border: 1px solid red;

}
.burgerBtnContainerClose {
  position: relative;
  width: 100%;
  height: 100%;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end !important;
  align-items: center;
  margin: 0px 0px 0px 0px;

  /* border: 1px solid red; */

  /* background: rgba(255, 255, 255, 0.747);
  
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  backdrop-filter: blur(14px) saturate(200%);
  -webkit-backdrop-filter: blur(14px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.36);

  background: rgba(255, 255, 255, 0.589);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); */
  /* 
  background: rgba(255, 255, 255, 0.76);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); */
  /* border: 1px solid red; */

  /* background-color: #f4fff9; */

  /* background-color: #ffffff; */
  /* background-color: var(--sidebarColor); */

  /* 
background: rgba( 255, 255, 255, 0.25 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px ); */
  /* background: rgba( 255, 255, 255, 0.20 );
backdrop-filter: blur( 20.0px );
-webkit-backdrop-filter: blur( 20.0px ); */

}

.hamXIcon {
  /* position: absolute; */

  font-size: 23px;
  color: slategray;
}
.hamMenuIcon {
  font-size: 25px;
  color: slategray;
  z-index: 1;

}

.toggleSideBarBtn {
  /* position: absolute; */
  bottom: 20px;
  /* z-index: 2; */

}

.linksContainer {
  position: relative;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  transition: all 50ms ease-in-out;
  /* border: 1px solid red; */

  /* background: rgba(255, 255, 255, 0.747);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  backdrop-filter: blur(14px) saturate(200%);
  -webkit-backdrop-filter: blur(14px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.36);

  background: rgba(255, 255, 255, 0.589);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); */
  /* 
  background: rgba(255, 255, 255, 0.76);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); */
  /* background-color: #ffffff; */
  /* background-color: var(--sidebarColor);

  background: rgba( 255, 255, 255, 0.25 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px ); */
  /* background: rgba( 255, 255, 255, 0.20 );
  backdrop-filter: blur( 20.0px );
  -webkit-backdrop-filter: blur( 20.0px ); */
}
.NavLink {
  position: relative;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 200px;
  height: 30px;
  text-decoration: none;
  font-family: "Nunito", sans-serif !important;
  letter-spacing: 1px;
  display: flex;
  flex-direction: row;
  font-weight: 650;
  font-size: 12.5px;
  margin: 10px 0px 10px 0px;
  border-radius: 5px;
  overflow: hidden;
  /* transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); */
  /* box-shadow: 20px 20px 30px 0 rgba(0, 0, 0, 0.1); */

  color: black;

  padding-left: 10px;
  /* border: 1px solid lightgray; */
  /* border: 1px solid black; */
}
.NavLinkClose {
  position: relative;
  /* border: 2px solid lightgray; */

  grid-row-start: 2;
  grid-row-end: 3;
  width: 30px;
  height: 30px;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 650;
  font-size: 12.5px;
  /* color: white; */
  margin: 10px 0px 10px 0px;
  border-radius: 5px;
  transition: all 50ms ease-in-out;
  color: black;

  /* box-shadow: 20px 20px 30px 0 rgba(0, 0, 0, 0.1); */

  /* transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); */
  /* border-radius: 15px 0px 0px 15px; */

  /* border: 1px solid lightgray; */
  /* border: 1px solid black; */
}
.linkDivOpen {
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  transition: all 50ms ease-in-out;
  /* transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); */
}

.text {
  margin: 0px 0px 0px 10px !important;
}
.cardCount {
  position: absolute;
  right: 25%;
  top: 8px;
  width: 15px;
  height: 15px;
  /* background-color: white; */
  /* color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  /* border: 1px solid white; */
  font-family: "Nunito", sans-serif !important;
}
.linkDivClose {
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 50ms ease-in-out;
  /* transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); */
}

.burgerIconDiv {
  width: 30px;
  height: 99%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid orange; */
}

.logoutBtnDiv {
  position: relative;
  grid-row-start: 3;
  grid-row-end: 4;
  width: 99%;
  height: 99%;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.logoutBtnDiv button {
  width: 90%;
  height: 50%;
  border: 1px solid black;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  background: none;
  border: none;
  /* border: 1px solid rgb(238, 238, 238); */

  /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.075), 0 5px 5px rgba(0, 0, 0, 0.048); */
  border-radius: 5px;
}
.logoutBtnDiv button {
  cursor: pointer;
}
.logoutText {
  display: none;
  font-size: 8px;
  /* font-weight: 700; */
  color: #9baece;
  /* font-family: "Nunito", sans-serif !important; */
  -webkit-text-stroke: 0.01em;
  font-family: "Quicksand", sans-serif;
}

@media screen and (max-width: 500px) {
  .hamXIcon {
    font-size: 25px;
    color: slategray;
  }
  .hamMenuIcon {
    font-size: 25px;
    color: slategray;
  }
}
