/* ______________________________________________ */
.sidebar {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  /* width: 300px; */
  height: 100%;
  display: grid;
  grid-gap: 5px;
  grid-template-rows: 20% 1fr;
  /* background-color: #e5edf2; */
  background-color: white;
  background-color: #e5edf2;

  /* background-color: white; */
  /* border-radius: 10px; */
  /* border-right: 1px solid rgba(182, 131, 131, 0.18); */

  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);

  /* border-radius: 0px 0px 0px 20px; */
  /* border: 1px solid red; */
}

.sidebarCollapse {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  /* width: 50px !important; */
  height: 100%;
  display: grid;
  grid-gap: 5px;
  grid-template-rows: 20% 1fr;
  /* background-color: #e5edf2; */

  /* border-radius: 10px; */
  /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
  /* border-right: 1px solid rgba(182, 131, 131, 0.18); */

  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);

  /* border-radius: 10px 10px 10px 10px; */
  /* border: 1px solid red; */
  background-color: white;
  /* background-color: #e5edf2; */
}

.burgerBtnContainer {
  position: relative;
  width: 99%;
  height: 100%;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: flex-end !important;
  align-items: center;
  margin: 0px 0px 0px 0px;
  /* transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); */

  /* border: 1px solid red; */
}
.burgerBtnContainerClose {
  position: relative;
  width: 99%;
  height: 100%;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end !important;
  align-items: center;
  margin: 0px 0px 0px 0px;
  /* transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); */

  /* border: 1px solid red; */
}
.toggleSideBarBtn {
  position: absolute;
  bottom: 20px;
}

.linksContainer {
  grid-row-start: 2;
  grid-row-end: 3;
  width: 99%;
  height: 99%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  transition: all 50ms ease-in-out;
  /* transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); */

  /* border: 1px solid black; */
}
.NavLink {
  position: relative;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 200px;
  height: 30px;
  text-decoration: none;
  font-family: "Nunito", sans-serif !important;
  letter-spacing: 1px;
  display: flex;
  flex-direction: row;
  font-weight: 650;
  font-size: 12.5px;
  margin: 10px 0px 10px 0px;
  border-radius: 5px;
  overflow: hidden;
  /* transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); */
  /* box-shadow: 20px 20px 30px 0 rgba(0, 0, 0, 0.1); */

  color: black;

  padding-left: 10px;
  /* border: 1px solid lightgray; */
}
.NavLinkClose {
  position: relative;
  /* border-left: 2px solid lightgray; */

  grid-row-start: 2;
  grid-row-end: 3;
  width: 35px;
  height: 30px;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 650;
  font-size: 12.5px;
  /* color: white; */
  margin: 10px 0px 10px 0px;
  /* border-radius: 5px; */
  transition: all 50ms ease-in-out;
  color: black;

  /* box-shadow: 20px 20px 30px 0 rgba(0, 0, 0, 0.1); */

  /* transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); */
  /* border-radius: 15px 0px 0px 15px; */

  /* border: 1px solid lightgray; */
}
.linkDivOpen {
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  transition: all 50ms ease-in-out;
  /* transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); */
}

.text {
  margin: 0px 0px 0px 10px !important;
}
.cardCount {
  position: absolute;
  right: 25%;
  top: 8px;
  width: 15px;
  height: 15px;
  /* background-color: white; */
  /* color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  /* border: 1px solid white; */
  font-family: "Nunito", sans-serif !important;
}
.linkDivClose {
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 50ms ease-in-out;
  /* transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); */
}

.burgerIconDiv {
  width: 30px;
  height: 99%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid orange; */
}
