/* ______________________________________________ */
.sidebar {
  /* display: none; */
  grid-row-start: 1;
  grid-row-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  width: 98% !important;
  height: 100%;
  display: grid;
  grid-gap: 1px;
  grid-template-rows: 10% 1fr 20%;

  /* background-color: #e5edf2; */
  /* background-color: white; */
  /* background-color: #e5edf2; */
  /* background-color: white; */
  /* border-radius: 10px; */
  /* border-right: 1px solid rgba(182, 131, 131, 0.18); */

  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);

  /* border-radius: 10px; */

  /* border-radius: 0px 0px 0px 20px; */
  /* border: 1px solid red; */
  /* 
  background: rgba(255, 255, 255, 0.144);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); */
  overflow: hidden;
}

.sidebarCollapse {
  /* display: none; */

  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  width: 98.5% !important;
  height: 100%;
  display: grid;
  /* grid-gap: 1px; */
  grid-template-rows: 10% 1fr 20%;
  /* background-color: #e5edf2; */

  /* border-radius: 10px; */
  /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
  /* border-right: 1px solid rgba(182, 131, 131, 0.18); */
  /* border-right: 1px solid rgb(190, 190, 190); */

  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);

  /* background: rgba( 255, 255, 255, 0.50 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20.0px );
  -webkit-backdrop-filter: blur( 20.0px ); */
  /* border-radius: 10px; */

  /* border-radius: 10px 10px 10px 10px; */
  /* border: 1px solid red; */
  /* background-color: white; */

  /* background-color: #e5edf2; */
  overflow: hidden;
}

.burgerBtnContainer {
  position: relative;
  width: 99%;
  height: 100%;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: flex-end !important;
  align-items: center;
  margin: 0px 0px 0px 0px;
  /* transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); */
  background: rgba(255, 255, 255, 0.747);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  /* border: 1px solid red; */
  backdrop-filter: blur(14px) saturate(200%);
  -webkit-backdrop-filter: blur(14px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.36);
}
.burgerBtnContainerClose {
  position: relative;
  width: 99%;
  height: 100%;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end !important;
  align-items: center;
  margin: 0px 0px 0px 0px;
  background: rgba(255, 255, 255, 0.747);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  /* transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); */
  backdrop-filter: blur(14px) saturate(200%);
  -webkit-backdrop-filter: blur(14px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.36);

  background: rgba(255, 255, 255, 0.589);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  background: rgba(255, 255, 255, 0.76);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  /* border: 1px solid red; */
}
.toggleSideBarBtn {
  position: absolute;
  bottom: 20px;
}

.linksContainer {
  position: relative;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 99%;
  height: 99.8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  transition: all 50ms ease-in-out;
  background: rgba(255, 255, 255, 0.747);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  /* transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); */
  backdrop-filter: blur(14px) saturate(200%);
  -webkit-backdrop-filter: blur(14px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.36);

  background: rgba(255, 255, 255, 0.589);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  background: rgba(255, 255, 255, 0.76);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  /* border: 1px solid blue; */
}
.NavLink {
  position: relative;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 200px;
  height: 30px;
  text-decoration: none;
  font-family: "Nunito", sans-serif !important;
  letter-spacing: 1px;
  display: flex;
  flex-direction: row;
  font-weight: 650;
  font-size: 12.5px;
  margin: 10px 0px 10px 0px;
  border-radius: 5px;
  overflow: hidden;
  /* transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); */
  /* box-shadow: 20px 20px 30px 0 rgba(0, 0, 0, 0.1); */

  color: black;

  padding-left: 10px;
  /* border: 1px solid lightgray; */
  /* border: 1px solid black; */
}
.NavLinkClose {
  position: relative;
  /* border: 2px solid lightgray; */

  grid-row-start: 2;
  grid-row-end: 3;
  width: 30px;
  height: 30px;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 650;
  font-size: 12.5px;
  /* color: white; */
  margin: 10px 0px 10px 0px;
  border-radius: 5px;
  transition: all 50ms ease-in-out;
  color: black;

  /* box-shadow: 20px 20px 30px 0 rgba(0, 0, 0, 0.1); */

  /* transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); */
  /* border-radius: 15px 0px 0px 15px; */

  /* border: 1px solid lightgray; */
  /* border: 1px solid black; */
}
.linkDivOpen {
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  transition: all 50ms ease-in-out;
  /* transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); */
}

.text {
  margin: 0px 0px 0px 10px !important;
}
.cardCount {
  position: absolute;
  right: 25%;
  top: 8px;
  width: 15px;
  height: 15px;
  /* background-color: white; */
  /* color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  /* border: 1px solid white; */
  font-family: "Nunito", sans-serif !important;
}
.linkDivClose {
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 50ms ease-in-out;
  /* transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); */
}

.burgerIconDiv {
  width: 30px;
  height: 99%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid orange; */
}

.logoutBtnDiv {
  position: relative;
  grid-row-start: 3;
  grid-row-end: 4;
  width: 99%;
  height: 99%;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.747);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  backdrop-filter: blur(14px) saturate(200%);
  -webkit-backdrop-filter: blur(14px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.36);

  background: rgba(255, 255, 255, 0.589);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  background: rgba(255, 255, 255, 0.76);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.logoutBtnDiv button {
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
  margin: 0px 0px 0px 0px;
  padding: 0px;
  background: none;
  border: none;
}
.logoutBtnDiv button {
  cursor: pointer;
}
.logoutText {
  font-size: 9px;
  font-weight: 700;
  color: black;
  font-family: "Nunito", sans-serif !important;
}
