.signUpPage {
  height: 100%;
  width: 100%;
  min-width: 300px;
  /* min-height: 650px; */

  border: 1px solid black;

  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
  background-color: rgb(48, 182, 104);
  border-radius: 10px;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow-y: scroll;
  font-family: "Nunito", sans-serif;
  /* background-color: gray; */
  padding: 0;
  margin: 0;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
}
.signUpPage::-webkit-scrollbar {
  display: none;
}

.containerBio {
  position: relative;
  height: 100%;
  width: 49%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 350px;

  /* width:; */
  /* min-width: 65%; */

  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: white; */

  margin: 0px 0px 0px 0px;
}
.heading1 {
  font-family: "Nunito", sans-serif;
  font-weight: 650;
  margin: 10px 0px 0px 0px;
  letter-spacing: 0.5px;
  font-size: 50px;
}
.heading2 {
  font-family: "Nunito", sans-serif;
  font-weight: 650;
  margin: 10px 0px 0px 0px;
  letter-spacing: 0.5px;
  font-size: 20px;
}

.appNameDiv {
  /* position: absolute; */
  /* top: 20px; */
  width: 100%;
  height: 10%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-family: "Nunito", sans-serif;
  /* margin: 10px 0px 0px 10px; */
  letter-spacing: 0.5px;
}

.appNameDivSpan {
  color: #0076fd;
  font-size: 35px;
  font-weight: 650;
  margin: 20px 0px 0px 20px;
  font-family: "Big Shoulders Text", cursive;

}

.appNameDivP {
  color: whitesmoke;
  font-size: 35px;
  font-weight: 650;
  margin: 20px 0px 0px 0px;
}
.dot {
  color: #071a52;
}
.bioDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: center; */
  font-family: "Nunito", sans-serif;
  font-weight: 650;

  /* margin: 10px 0px 0px 0px; */
  letter-spacing: 0.5px;
  color: rgb(54, 54, 54);
  font-size: 28px;
  /* border: 1px solid black; */
  height: 80%;
  width: 100%;
  flex-wrap: wrap;
}
.bioDiv p {
  margin: 0px 0px 0px 20px;
}
.containerForm {
  position: relative;
  height: 100%;
  /* width: 28%; */
  width: 49%;
  min-width: 350px;
  min-height: 350px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* background-color: white; */
  margin: 0px 0px 0px 0px;
}
.signUpTextDIv {
  width: 100%;
  height: 20%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-family: "Nunito", sans-serif;
  color: #071a52;
  font-weight: 650;
  font-size: 30px;
}
.form {
  position: relative;
  width: 100%;
  height: 70%;
  max-width: 300px;
  min-height: 320px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* background-color: white; */
  border-radius: 10px;
  font-family: "Nunito", sans-serif;
  margin: 0px 0px 0px 0px;
}
.AlreadyHaveAccountDiv {
  /* position: absolute; */
  bottom: 0px;
  width: 100%;
  height: 10%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 5% 0px 0px 0px;
}
.linkText {
  font-family: "Nunito", sans-serif;
  color: rgb(67, 69, 70);
  font-weight: 650;
  color: #071a52;
  text-decoration: none;
}
.linkText:hover {
  /* color: #0177fb; */
  color: #071a52;
  font-weight: 650;
  text-decoration: underline;
}

.submitBtn {
  margin: 10px 0px 0px 0px;
  /* outline: none; */

  border-radius: 20px;
  /* border: 1px solid #071a52; */
  width: 40px;
  height: 40px;
  min-height: 40px;
  border: 1px solid #071a52;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); */
  font-size: 18px;
  font-family: "Nunito", sans-serif;
  font-weight: 650;
  letter-spacing: 0.2px !important;
  color: #071a52;
  border-radius: 50%;
  cursor: pointer;
  /* background-color: transparent; */
  /* box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.05),
      -6px -6px 6px rgba(255, 255, 255, 0.6),
      inset 2px 2px 5px rgba(0, 0, 0, 0.03),
      inset -2px -2px 5px rgba(255, 255, 255, 0.4); */

  background-color: #071a52;
  color: white;
}
.submitBtn:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
  background-color: #071a52;
  border: 1px solid #071a52;
  font-weight: 550 !important;
  color: white;
}
.submitBtn span {
  margin: 0px 2% 0px 0px;
}

.notificationErrorDiv {
  position: absolute;
  top: 10px;
  width: 80%;
  padding: 2px;
  height: 20px;
  min-width: 260px;
  max-height: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-family: "Nunito", sans-serif;
  font-size: 14px;
  background-color: #d7232373;
  border: 1px solid #d72323;
  color: #d72323;
  border-radius: 5px;
  color: white;
  margin: 0px 0px 15px 0px;
}
.notificationSuccessDiv {
  /* width: 60%; */
  padding: 2px;

  height: 25px;
  max-height: 25px;
  max-height: 15px;
  min-width: 200px;
  position: absolute;
  top: 10px;
  width: 80%;
  padding: 2px;
  height: 20px;
  min-width: 260px;
  max-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  background-color: #41d7236b;
  border: 1px solid #38d723;
  color: #d72323;
  border-radius: 5px;
  color: white;
  margin: 0px 0px 15px 0px;
}

@media screen and (max-width: 500px) {
  .submitBtn {
    margin: 10px 0px 0px 0px;
    /* outline: none; */

    border-radius: 20px;
    /* border: 1px solid #071a52; */
    width: 50px;
    height: 50px;
    border: 1px solid #071a52;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    font-size: 18px;
    font-family: "Nunito", sans-serif;
    font-weight: 650;
    letter-spacing: 0.2px !important;
    color: #071a52;
    border-radius: 50%;
    cursor: pointer;
    /* background-color: transparent; */
    /* box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.05),
      -6px -6px 6px rgba(255, 255, 255, 0.6),
      inset 2px 2px 5px rgba(0, 0, 0, 0.03),
      inset -2px -2px 5px rgba(255, 255, 255, 0.4); */

    background-color: #071a52;
    color: white;
    /* outline: thin dotted; */
  }
}

@media screen and (max-height: 850px) {
  .signUpPage {
    height: 100%;
    width: 100%;
    min-width: 300px;
    /* min-height: 650px; */

    border: 1px solid black;

    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    background-color: rgb(48, 182, 104);
    border-radius: 10px;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-y: scroll;
    font-family: "Nunito", sans-serif;
    /* background-color: gray; */
    padding: 0;
    margin: 0;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
  }
  .submitBtn {
    margin: 10px 0px 0px 0px;
    /* outline: none; */

    border-radius: 20px;
    /* border: 1px solid #071a52; */
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    border: 1px solid #071a52;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    font-size: 18px;
    font-family: "Nunito", sans-serif;
    font-weight: 650;
    letter-spacing: 0.2px !important;
    color: #071a52;
    border-radius: 50%;
    cursor: pointer;
    background-color: #071a52;
    color: white;
    /* outline: thin dotted; */
  }
}
