.signInPage {
  height: 80%;
  width: 70%;
  min-width: 300px;
  min-height: 400px;

  /* border: 1px solid black; */
  background: url(../img/loginForm.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow-y: scroll;
  font-family: "Nunito", sans-serif;
  /* background-color: gray; */
  padding: 0;
  margin: 0;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}
.signInPage::-webkit-scrollbar {
  display: none;
}

.containerBio {
  height: 100%;
  width: 69%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* width:; */
  /* min-width: 65%; */

  /* border: 1px solid red; */
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  background-color: white;
  margin: 0px 0px 0px 0px;
}
.appNameDiv {
  width: 90%;
  height: 8%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Nunito", sans-serif;
  font-weight: 650;
  margin: 10px 0px 0px 0px;
  letter-spacing: 0.5px;
}
.appNameDiv span {
  color: #0177fb;
  font-family: "Big Shoulders Text", cursive;

}

.appNameDiv p {
  color: rgb(236, 235, 235);
  font-size: 25px;
}
.containerForm {
  height: 80%;
  width: 28%;
  min-width: 300px;
  min-height: 400px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* background-color: white; */
  margin: 0px 0px 0px 0px;
}
.form {
  width: 100%;
  height: 60%;
  /* max-width: 300px; */
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* background-color: white; */
  border-radius: 10px;
  font-family: "Nunito", sans-serif;
  margin: 0px 0px 0px 0px;
}
.linkText {
  font-family: "Nunito", sans-serif;
  color: rgb(67, 69, 70);
  font-weight: 650;
  color: #071a52;
  text-decoration: none;
}
.linkText:hover {
   /* color: #0177fb; */
   color: #071a52;
   font-weight: 650;
   text-decoration: underline;
}

.submitBtn {
  margin: 10px 0px 0px 0px;
  /* outline: none; */

  border-radius: 20px;
  /* border: 1px solid #071a52; */
  width: 40px;
  height: 40px;
  border: 1px solid #071a52;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  font-size: 18px;
  font-family: "Nunito", sans-serif;
  font-weight: 650;
  letter-spacing: 0.2px !important;
  color: #071a52;
  border-radius: 50%;
  cursor: pointer;
  /* background-color: transparent; */
  /* box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.05),
    -6px -6px 6px rgba(255, 255, 255, 0.6),
    inset 2px 2px 5px rgba(0, 0, 0, 0.03),
    inset -2px -2px 5px rgba(255, 255, 255, 0.4); */

  background-color: #071a52;
  color: white;
  /* outline: thin dotted; */
}
.submitBtn:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
  background-color: #071a52;
  border: 1px solid #071a52;
  font-weight: 550 !important;
  color: white;
  transform: scale(1.1);
}
button:focus:not(:focus-visible) {
  outline: none;
}
.submitBtn :focus {
  background-color: red;
}
.submitBtn span {
  margin: 0px 2% 0px 0px;
}

.notificationErrorDiv {
  width: 60%;
  height: 25px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  background-color: #d7232373;
  border: 1px solid #d72323;
  color: #d72323;
  border-radius: 5px;
  color: white;
}
.notificationSuccessDiv {
  /* width: 250px; */
  height: 20px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  background-color: #41d7236b;
  border: 1px solid #38d723;
  color: #d72323;
  border-radius: 5px;
  color: white;
  padding: 2px;
}

@media screen and (max-width: 500px) {
  .signInPage {
    height: 100%;
    width: 100%;
    min-width: 300px;
    min-height: 400px;

    /* border: 1px solid black; */
    background: url(../img/loginForm.svg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    /* border-radius: 10px; */
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-y: scroll;
    font-family: "Nunito", sans-serif;
    /* background-color: gray; */
    padding: 0;
    margin: 0;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
  }
  .containerForm {
    height: 80%;
    width: 100%;
    min-width: 300px;
    min-height: 400px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* background-color: white; */
    margin: 0px 0px 0px 0px;
  }
  .form {
    width: 90%;
    height: 60%;
    /* max-width: 300px; */
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* background-color: white; */
    border-radius: 10px;
    font-family: "Nunito", sans-serif;
    margin: 0px 0px 0px 0px;
  }
  .submitBtn {
    margin: 10px 0px 0px 0px;
    /* outline: none; */

    border-radius: 20px;
    /* border: 1px solid #071a52; */
    width: 50px;
    height: 50px;
    border: 1px solid #071a52;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    font-size: 18px;
    font-family: "Nunito", sans-serif;
    font-weight: 650;
    letter-spacing: 0.2px !important;
    color: #071a52;
    border-radius: 50%;
    cursor: pointer;
    /* background-color: transparent; */
    /* box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.05),
      -6px -6px 6px rgba(255, 255, 255, 0.6),
      inset 2px 2px 5px rgba(0, 0, 0, 0.03),
      inset -2px -2px 5px rgba(255, 255, 255, 0.4); */

    background-color: #071a52;
    color: white;
    /* outline: thin dotted; */
  }
}
