.tabBarWrapper {
  position: relative;
  border: 1px solid black;
  width: 70%;
  height: 100%;
  grid-row-start: 2;
  grid-row-end: 3;
  /* grid-column-start: 2; */
  /* grid-column-end: 3; */
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* padding-left: 20px; */
  /* box-sizing: border-box; */
}
.tabBarContainer {
  position: relative;
  /* border: 1px solid red; */
  width: 99%;
  height: 99%;
  /* grid-column-start: 2; */
  /* grid-column-end: 3; */
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  /* display: none; */
  padding-right: 20px;

  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  white-space: nowrap;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  box-sizing: border-box;
}
.tabBarContainer::-webkit-scrollbar {
  display: none;
}
.navLink {
  position: relative;
  text-decoration: none;
  /* width: 100px; */
  height: 38px;
  /* border: 1px solid black; */
  margin: 0px 10px 0px 10px;
  overflow: visible;
  font-family: "Quicksand", sans-serif;
  /* font-family: "Roboto", sans-serif; */
  font-size: 20px;
  color: #92939d;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  /* letter-spacing: 0.3px; */
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-7-28 17:8:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.navText {
  /* border-bottom: 1px solid black; */
  /* width: 10px; */
  /* color: #93939b; */
  /* font-size: 25px; */
}
.bottomBorderDiv {
  width: 20px;
  height: 100%;
  position: absolute;
  left: 0px;
  bottom: 1px;
  border-bottom: 3px solid #00b7fd;
}
.searchHeadingContainer {
  position: relative;
  width: 100%;
  height: 97%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid blue; */
}
.searchHeadingContainer p {
  margin: 0px 0px 0px 0px;
  overflow: visible;
  font-family: "Quicksand", sans-serif;
  /* font-family: "Roboto", sans-serif; */
  font-size: 20px;
  color: #92939d;
  font-weight: 550;
}
.bottomBorderDivSearch {
  width: 20px;
  height: 70%;
  position: absolute;
  /* left: 0px; */
  /* bottom: 1px; */
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 3px solid #00b7fd;
  /* border: 1px solid black; */
}

.bottomBorderDivNone {
  width: 20px;
  height: 100%;
  position: absolute;
  left: 0px;
  bottom: 1px;
  /* border-bottom: 3px solid black; */
}
