.loginContainer {
  position: relative;
  display: grid;
  /* display: none; */
  grid-template-columns: 70px 1fr;
  justify-content: center;
  align-items: center;
  width: 280px;
  /* min-width: 250px; */
  height: 75px;
  /* max-height: 75px; */
  /* max-height: auto; */

  aspect-ratio: 3.73/1 !important;
  border-radius: 8px;
  /* border: 1px solid rgba(105, 105, 105, 0.116); */
  margin: 25px 0px 5px 30px;
  margin: 15px 15px 15px 15px;

  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: #ffffff;
  /* background-color:#f4fff9 ; */
  /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.041), 0 10px 10px rgba(0, 0, 0, 0.082); */

  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.014), 0 1px 2px rgba(68, 61, 61, 0.048); */
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.075), 0 5px 5px rgba(0, 0, 0, 0.048);

  /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.075), 0 2px 2px rgba(0, 0, 0, 0.048); */
  scroll-snap-align: start;
  scroll-behavior: smooth;

  overflow: hidden;
  background: hsla(198, 53%, 87%, 1);

  background: linear-gradient(
    135deg,
    hsla(198, 53%, 87%, 0.5) 0%,
    hsla(0, 0%, 100%, 1) 65%
  );

  background: -moz-linear-gradient(
    135deg,
    hsla(198, 53%, 87%, 0.5) 0%,
    hsla(0, 0%, 100%, 1) 65%
  );

  background: -webkit-linear-gradient(
    135deg,
    hsla(198, 53%, 87%, 0.5) 0%,
    hsla(0, 0%, 100%, 1) 65%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#CEE6F0", endColorstr="#FFFFFF", GradientType=1 );
  /* z-index: 4; */
  /* border: 1px solid black; */
}

@-webkit-keyframes scale-in-tl {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-tl {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
}

/* .cardContainer:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
} */

.logoDiv {
  grid-column-start: 1;
  grid-column-end: 2;
  width: 85%;
  height: 85%;
  border: 1px solid rgba(19, 18, 18, 0.103);
  border-radius: 10px;
  margin: 0px 0px 0px 5px;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}
.infoDiv {
  grid-column-start: 2;
  grid-column-end: 3;
  width: 100%;
  height: 90%;
  /* border: 1px solid black; */
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  /* grid-gap: 2px; */
}

.buttonDiv {
  position: relative;
  grid-area: buttonDiv;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  z-index: 3;
  box-sizing: border-box;
}

.favBtn {
  position: absolute;
  top: 0px;
  right: 0px;
  background: none;
  outline: none;
  border: none;
  width: 30px;
  height: 30px;
  /* border: 1px solid black; */
  color: gray;
  color: #b3bac3;

  display: flex;
  align-items: center;
  justify-content: center;
}

.editDeleteContainer {
  position: absolute;
  top: 0px;
  right: 30px;
  /* right: 35px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  /* border: 1px solid red; */
  width: 60px;
  height: 30px;
  box-sizing: border-box;
}

.editIconDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b3bac3;

  /* border: 1px solid black; */
  box-sizing: border-box;
  width: 30px;
  height: 30px;
}
.deleteIconDiv {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* border: 1px solid black; */
  box-sizing: border-box;
}

.saveCancelContainer {
  position: absolute;
  top: 0px;
  right: 28px;
  right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  /* border: 1px solid black; */
  width: 60px;
  height: 30px;
}

.cancelIconDiv {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: gray;
  /* border-radius: 50%; */
  /* border: 1px solid rgb(214, 214, 214); */

  /* border: 1px solid black; */
  /* background: white; */
}

.saveIconDiv {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  color: gray;
  /* border-radius: 50%; */
  /* border: 1px solid black; */
  background: none;
  /*  */
}

.favIcon {
  font-size: 17px;
}
.trashIcon {
  font-size: 17px;
}
.pencilIcon {
  font-size: 17px;
}
.cancelIcon {
  font-size: 17px;
}
.checkIcon {
  font-size: 17px;
}

.editInput {
  width: 100%;
  height: 90%;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  /* border-bottom: 1px solid slategray; */
  /* background: rgb(134, 112, 112); */
  font-family: "Nunito", sans-serif;
  font-family: "Quicksand", sans-serif;

  color: skyblue;
  font-weight: 550;
  letter-spacing: 0.2px;
  /* padding-left: 10px; */
  /* border: none; */
  box-sizing: border-box;
  background-color: rgba(255, 196, 1, 0.062);
  border-radius: 5px;
  padding: 0px 5px 0px 5px;
  margin: 0px 0px 0px 0px;
  border: 1.5px dotted #00b7fd;
  border: 1px dashed #00b7fd;

  background: #00b5fd11;
  color: #00b7fd;
}
.websiteEditInput {
  width: 100%;
  height: 95%;
  outline: none;
  /* border-top: none; */
  /* border-left: none; */
  /* border-right: none; */
  /* border-bottom: 1px solid slategray; */
  /* background: rgb(134, 112, 112); */
  font-family: "Quicksand", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  background-color: rgba(255, 196, 1, 0.062);
  border-radius: 5px;
  padding: 0px 5px 0px 5px;

  margin: 0px 0px 0px 0px;
  border: 1px dotted #00b7fd;
  border: 1px dashed #00b7fd;

  background: #00b5fd11;
  color: #00b7fd;
  box-sizing: border-box;
  font-weight: 550;
}

.websiteDiv {
  width: 58%;
  width: calc(100% - 100px);
  height: 100%;
  border-bottom: 1px solid lightgray;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: flex-start;
  /* border: 1px solid black; */
  padding: 0px 0px 0px 2%;

  /* overflow-x: scroll; */
  /* padding-left: 2px; */
  align-items: center;
  color: gray !important;
  margin: 0px 0px 2px 5px;
  box-sizing: border-box;
}
.websiteDiv::-webkit-scrollbar {
  display: none;
}
.usernameDiv {
  width: 90%;
  /* width: calc(100% - 20px); */

  height: 100%;
  /* border: 0.1px solid red; */
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  /* padding-left: 2%; */
  margin: 2px 0px 0px 5px;
  color: rgb(53, 52, 52) !important;
  box-sizing: border-box;
}
.usernameDiv::-webkit-scrollbar {
  display: none;
}
.iconDiv {
  width: 10%;
  height: 100%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}
.textDiv {
  width: 90%;
  height: 100%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  overflow-x: scroll;
  box-sizing: border-box;
}
.textDiv::-webkit-scrollbar {
  display: none;
}
.passwordDiv {
  width: 90%;
  height: 100%;
  /* border: 1px solid red; */
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* padding-left: 2%; */
  margin: 2px 0px 0px 5px;

  align-items: center;
  color: rgb(53, 52, 52) !important;
  box-sizing: border-box;
}

.websiteText {
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */

  margin: 0px 0px 0px 0px;
  font-family: "Nunito", sans-serif;
  /* font-family: 'Comfortaa', cursive; */
  font-family: "Quicksand", sans-serif;
  letter-spacing: 0.5px;
  font-weight: bold;
  color: black;
  font-size: 13px;
  /* letter-spacing: 0.5px; */
  /* -webkit-text-stroke: 0.020em;  */
}

.usernameText {
  font-family: "Nunito", sans-serif;
  font-family: "Quicksand", sans-serif;
  /* font-size: 1em; */
  margin: 0px 0px 0px 10px;
  font-weight: 650;
  font-size: 13px;
  letter-spacing: 0.5px;
  /* color: rgb(112, 112, 112); */
  color: slategray;
}

.passwordText {
  font-family: "Nunito", sans-serif;
  font-family: "Quicksand", sans-serif;
  margin: 0px 0px 0px 5px;
  font-weight: 650;
  font-size: 13px;
  letter-spacing: 0.5px;
  /* color: rgb(112, 112, 112); */
  color: slategray;
}

@media screen and (max-width: 650px) {
  .loginContainer {
    position: relative;
    display: grid;
    grid-template-columns: 70px 1fr;
    justify-content: center;
    align-items: center;
    /* align-content: center; */
    width: 83% !important;
    /* width: calc(80% - 100px); */

    aspect-ratio: 3.73/1 !important;
    /* max-width: 280px; */
    /* width: 20px; */
    min-width: 250px;
    height: auto;
    /* height: auto; */

    border-radius: 8px;
    /* border: 1px solid red; */
    /* margin: 10px 0px 10px 0px !important; */
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    background-color: #ffffff;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px; */
    /* border: 1px solid red; */
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 25px; */
    /* margin-bottom: 10px; */
    /* z-index: 45; */
    /* margin: 25px 0px 5px 30px; */
  }

  .favIcon {
    /* font-size: 3px; */
    /* font-size: 2em; */
    font-size: 1.4em;
  }
  .trashIcon {
    font-size: 18px;
    /* font-size: 1.4em; */
    font-size: 1.3em;
  }
  .pencilIcon {
    font-size: 18px;
    /* font-size: 1.4em; */
    font-size: 1.3em;
  }
  .cancelIcon {
    font-size: 18px;
    /* font-size: 1.4em; */
    font-size: 1.4em;
  }
  .checkIcon {
    font-size: 18px;
    /* font-size: 1.4em; */
    font-size: 1.4em;
  }
}

/* 
.editButton {
  position: absolute;
  display: flex;
  top: 2px;
  right: 5px;
  border-radius: 50%;
  cursor: pointer;
}
.editButton :hover {
  background-color: rgba(128, 128, 128, 0.514);
  border-radius: 50%;
}

.editMenuContainer {
  position: absolute;
  top: 30px;
  right: 10px;
  width: 80px;
  height: 50px;
  border: 1px solid rgba(128, 128, 128, 0.199);
  background-color: white;
  display: grid;
  grid-template-rows: 1fr 1fr;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
}
.editDiv {
  width: 95%;
  height: 100%;
  grid-row-start: 1;
  grid-row-end: 2;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  cursor: pointer;
}

.editLogoDiv {
  grid-column-start: 1;
  grid-column-end: 2;
  width: 65%;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  padding-left: 2px;
}

.editTextDiv {
  grid-column-start: 2;
  grid-column-end: 3;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: 550;
}

.deleteDiv {
  width: 100%;
  height: 100%;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
} */
