.cardContainer {
  position: relative;

  width: 250px;
  height: 155px;
  /* max-height: 155px; */
  aspect-ratio: 8/5 !important;
  /* aspect-ratio: 16/9; */

  /* width: 50%; */
  /* height: 150px; */
  /* width: 85.6mm; */
  /* height: 53.98mm; */

  /* border: 1px solid red; */
  border-radius: 8px;
  margin: 20px 0px 5px 30px;
  margin: 15px 15px 15px 15px;

  padding-left: 5px;
  /* padding-top: 5px; */
  display: grid;
  /* display: none; */
  /* grid-gap: 1%; */
  object-fit: contain;
  grid-template-columns: 1.5fr 1fr 1fr;
  grid-template-rows: 50px 40px 50px;
  grid-template-rows: 20% 25% 25% 25%;
  grid-template-areas:
    "buttonDiv buttonDiv buttonDiv"
    "bankName bankName cardLogo "
    "cardNo cardNo cvv"
    "user user cardExpiry";
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding-right: 5px;
  /* overflow: hidden; */
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(68, 61, 61, 0.24); */
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px; */

  /* backdrop-filter: blur(20px); */
  /* -webkit-backdrop-filter: blur(20px); */
  object-fit: contain;
  /* background: #edeff870;
  background: rgba(255, 255, 255, 0.664);
  backdrop-filter: blur( 14.5px );
  -webkit-backdrop-filter: blur( 14.5px ); */
  /* border-radius: 10px; */
  /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
  /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
  /* backdrop-filter: blur( 15.0px ); */
  /* -webkit-backdrop-filter: blur( 15.0px ); */
  background-color: #ffffff;

  /* #edeff870 */
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.041), 0 10px 10px rgba(0, 0, 0, 0.082);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.075), 0 5px 5px rgba(0, 0, 0, 0.048);

  /* filter:  drop-shadow(0px 10px 20px rgba(0, 0, 0,  0.30)); */
  scroll-behavior: smooth;

  z-index: 1;
  overflow: hidden;
  box-sizing: border-box;
}
.cardContainerInEditMode {
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  -ms-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  -o-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.overlayDiv {
  /* display: none; */
  position: absolute;
  height: 100%;
  width: 100%;
  background: transparent;
  /* border: 1px solid #0f0f0f70; */
  bottom: 0px;
  right: 0px;
  /* box-sizing: border-box; */
  /* z-index: 21; */
  z-index: 2;
  overflow: hidden;
  /* background-color: white; */
  padding: 0px;
}
.ring {
  position: absolute;

  width: 300px;
  aspect-ratio: 1/1;

  /* height: 200px; */
  mix-blend-mode: color;
  bottom: -100px;
  left: -50px;
  background-color: #cee6f077;
  border-radius: 50%;
  /* border: 35px solid #cee6f077; */
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;
  background: hsla(198, 53%, 87%, 1);

  background: linear-gradient(
    135deg,
    hsla(198, 53%, 87%, 1) 21%,
    hsla(198, 53%, 87%, 0.2) 61%
  );

  background: -moz-linear-gradient(
    135deg,
    hsla(198, 53%, 87%, 1) 21%,
    hsla(198, 53%, 87%, 0.2) 61%
  );

  background: -webkit-linear-gradient(
    135deg,
    hsla(198, 53%, 87%, 1) 21%,
    hsla(198, 53%, 87%, 0.2) 61%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#CEE6F0", endColorstr="#CEE6F0", GradientType=1 );
}
.ring div {
  width: 60%;
  height: 60%;
  background-color: white;
  border-radius: 50%;
}
.square {
  position: absolute;
  /* display: none; */

  width: 100%;
  /* height: 200px; */
  mix-blend-mode: color;
  top: 0px;
  right: 0px;
  aspect-ratio: 1/1;
  transform: rotate(0deg);

  background: hsla(198, 53%, 87%, 1);

  background: linear-gradient(
    135deg,
    hsla(198, 53%, 87%, 0.5) 0%,
    hsla(0, 0%, 100%, 1) 65%
  );

  background: -moz-linear-gradient(
    135deg,
    hsla(198, 53%, 87%, 0.5) 0%,
    hsla(0, 0%, 100%, 1) 65%
  );

  background: -webkit-linear-gradient(
    135deg,
    hsla(198, 53%, 87%, 0.5) 0%,
    hsla(0, 0%, 100%, 1) 65%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#CEE6F0", endColorstr="#FFFFFF", GradientType=1 );
}

.overlayFont {
  /* display: none; */
  position: absolute;
  color: #cee6f077;
  font-family: "Anton", sans-serif !important;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-style: italic;
  letter-spacing: 3px;
  padding: 0px;
  font-size: 60px;
  bottom: -18px !important;
  left: 0px !important;
  margin: 0px 0px 0px 0px;
}

/* .cardContainer:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
} */

.bankName {
  grid-area: bankName;
  /* border: 1px solid black; */
  width: 100%;
  height: 100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-start;
  align-items: center;
  margin: 0px 0px 0px 0px;
  z-index: 3;

  /* padding: 0px 0px 0px 5%; */
  box-sizing: border-box;

  /* color: white; */
}

.cardBankText {
  /* width: 100%; */
  /* margin: 0px 0px 0px 0px; */
  margin: 0px 0px 0px 5%;

  font-weight: bolder;
  /* font-family: 'Anton', sans-serif; */
  /* font-family: 'Archivo', sans-serif; */
  /* font-family: 'Inter', sans-serif; */
  /* font-family: 'Lato', sans-serif; */
  /* font-family: 'Poppins', sans-serif; */
  font-family: "Quicksand", sans-serif;
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  letter-spacing: 0.5px;
  font-weight: bold !important;
  /* font-size: 14px !important; */
  /* font-size: 1em !important; */
  font-size: 0.9em;
  color: rgb(29, 29, 29);

  text-shadow: 0.5px 0.5px rgb(219, 215, 215);
  /* z-index: 23; */
  white-space: normal;
}
.cardNo {
  grid-area: cardNo;
  /* border: 1px solid green; */
  width: 100%;
  height: 100%;
  margin: 0px 0px 0px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 0px;
  z-index: 3;
  /* box-sizing: border-box; */
  /* padding-left: 5%; */
  /* padding: 0px 0px 0px 5%; */
  box-sizing: border-box;
}

.cardNoText {
  /* width: 100%; */
  /* margin: 0px 0px 0px 0px; */
  margin: 0px 0px 0px 5%;

  font-weight: bolder;
  font-family: "Share Tech Mono", monospace;
  letter-spacing: 0.5px;
  font-weight: bold !important;
  /* font-size: 14px !important; */
  font-size: 0.9em !important;

  color: slategray;
  text-shadow: 0.5px 0.5px rgb(202, 202, 202);
  /* z-index: 23; */
  padding: 0px;
  white-space: nowrap;
}
.cardUser {
  grid-area: user;
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0px 0px 0px 0px;
  /* color: white; */
  /* z-index: 23; */
  z-index: 3;
  /* padding: 0px 0px 0px 5%; */
  box-sizing: border-box;
}
.cardUserText {
  margin: 0px 0px 0px 5%;
  font-weight: bolder;
  /* letter-spacing: 0.3px; */
  /* color: white; */
  /* font-size: 15px; */

  font-size: 0.9em;
  font-family: "Quicksand", sans-serif;
  /* font-family: 'Montserrat', sans-serif; */


  /* font-family: "Share Tech Mono", monospace; */
  /* font-family: 'Archivo', sans-serif; */

  color: rgb(29, 29, 29);
  text-shadow: 0.5px 0.5px rgb(219, 215, 215);

  /* z-index: 23; */
}
.cardLogo {
  position: relative;
  grid-area: cardLogo;
  /* border: 1px solid blue; */
  width: 80%;
  height: 70%;
  width: 100%;
  height: 100%;
  display: flex;
  /* margin: 22px 0px 0px 10px; */
  flex-direction: row;
  /* margin: 10px 0px 0px 0px; */

  justify-content: center;
  flex-direction: row;
  align-items: center;

  /* padding-left: 10px; */
  /* z-index: 23; */
  z-index: 3;
}

/* .logo {
  width: 45%;
  height:20px;
  margin: 10px 10px 0px 0px;
} */
.cvv {
  grid-area: cvv;
  /* border: 1px solid black; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 0px;
  padding-right: 0px;
  /* z-index: 23; */
  z-index: 3;
  box-sizing: border-box;
}
.cvvLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  font-weight: 550;
  font-size: 10px;
  font-size: 0.6em;
  color: slategray;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* margin: 0px 5px 0px 0px; */
  /* z-index: 23; */
  /* border: 1px solid blue; */
  box-sizing: border-box;
}
.cvvText {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  color: black;
  /* font-size: 13px; */
  font-size: 1em;
  font-size: 0.8em;
  font-family: "Share Tech Mono", monospace;
  font-weight: 600;
  /* color: rgb(255, 255, 255); */
  /* margin: 8px 0px 0px -10px; */
  text-shadow: 0.5px 0.5px #dadada;
  /* z-index: 23; */
  /* border: 1px solid green; */
  box-sizing: border-box;
}
.cardExpiry {
  grid-area: cardExpiry;
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  /* display: grid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* grid-template-rows: 20px 20px; */
  /* margin: 5px 0px 0px 0px; */
  /* z-index: 23; */
  z-index: 3;
  box-sizing: border-box;
}
.expiryLabel {
  /* grid-row-start: 1; */
  /* grid-row-end: 2; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* font-family: "Nunito", sans-serif; */
  font-weight: 550;
  font-size: 10px;
  font-size: 0.6em;
  color: gray;
  /* border: 1px solid green; */
  margin: 0px 0px 0px 0px;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-weight: bold;
  /* z-index: 23; */
  box-sizing: border-box;
}

.expiryText {
  width: 100%;
  height: 100%;
  /* grid-row-start: 2; */
  /* grid-row-end: 3; */
  width: 100%;
  height: 50%;
  /* border: 1px solid purple; */
  margin: 0px 0px 0px 0px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Share Tech Mono", monospace;
  font-weight: 700;
  color: black;
  text-shadow: 0.5px 0.5px #dadada;
  font-size: 1em;
  font-size: 0.8em;

  /* z-index: 23; */
  box-sizing: border-box;
}

.buttonDiv {
  position: relative;
  grid-area: buttonDiv;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  z-index: 3;
  box-sizing: border-box;
}

.favBtn {
  position: relative;
  margin: 0px;
  padding: 0px;
  /* top: 0px; */
  /* right: 0px; */
  background: none;
  outline: none;
  border: none;
  width: 45px;
  width: 15%;
  width: 12%;

  /* height: 30px; */
  height: 100%;

  /* border: 1px solid black; */
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  z-index: 3;
}

.editBtnsContainer {
  position: relative;
  /* top: 0px; */
  /* right: 35px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  /* border: 1px solid red; */
  /* width: 90px; */
  width: 30%;
  width: 24%;

  height: 100%;
  /* z-index: 20; */
  /* z-index: 23; */
  box-sizing: border-box;
}

.deleteIconDiv {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* z-index: 23; */
  /* border: 1px solid black; */
  box-sizing: border-box;
}

.editIconDiv {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;

  /* border: 1px solid black; */
  /* border-radius: 50%; */
  /* z-index: 23; */
  box-sizing: border-box;
}
.editIconDiv button {
  position: relative;
  /* width:100%; */
  /* height:100%; */
  /* border-radius: 50%; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* box-sizing: border-box; */
}

/* .checkCancelContainer {
  position: absolute;
  top: 0px;
  right: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border: 1px solid black;
  box-sizing: border-box;

  width: 50%;

  height: 100%;
} */
.cancelIconDiv {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #fafafa;
  /* z-index: 23; */

  /* border: 1px solid black; */
  background: none;
}

.checkIconDiv {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  color: #fafafa;
  /* z-index: 23; */
  /* border: 1px solid black; */
  background: none;
  /*  */
}

.favIcon {
  font-size: 17px;
  cursor: pointer;
}
.pencilIcon {
  font-size: 17px;
  cursor: pointer;
}

.trashIcon {
  font-size: 17px;
  cursor: pointer;
}

.checkIcon {
  font-size: 17px;
  cursor: pointer;
}
.cancelIcon {
  font-size: 17px;
  cursor: pointer;
}

.editInput {
  outline: none;
  width: 98%;
  height: 80%;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: rgb(255, 255, 255);
  /* border: 1px dashed rgb(255, 196, 1); */
  border-radius: 5px;
  font-family: "Nunito", sans-serif;
  color: rgb(0, 0, 0);
  font-weight: 550;
  letter-spacing: 0.5px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* text-align: start; */
  /* margin: 4px 0px 0px 1px; */
  box-sizing: border-box;
  background-color: rgba(255, 196, 1, 0.062);
  border-radius: 5px;
  /* padding: 0px 5px 0px 5px; */
  margin: 0px 0px 0px 0px;
  border: 1px dashed #00b7fd;
  background: #00b5fd11;
  color: #00b7fd;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  padding: 0px 0px 0px 5%;
  box-sizing: border-box;
  /* font-family: "Share Tech Mono", monospace; */
  font-weight: 700;
  font-size: 15px;

  /* z-index: 23; */
}
.editInput:focus {
  border: 2px solid #1072f1;
}
.expiryInput {
  outline: none;
  width: 90%;
  height: 50%;
  border-top: none;
  border-left: none;
  border-right: none;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  /* padding: 0px 5px 0px 5px; */
  margin: 0px 0px 0px 0px;
  border: 1.5px dotted #00b7fd;
  border: 1px dashed #00b7fd;

  background: #00b5fd11;
  color: #00b7fd;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  /* padding: 0px 0px 0px 5%; */
  box-sizing: border-box;
  /* font-family: "Share Tech Mono", monospace; */
  font-weight: 700;
  font-size: 13px;
}
.expiryInput:focus {
  border: 2px solid #1072f1;
}

@media screen and (max-width: 550px) {
  .cardContainer {
    position: relative;
    width: 78%;
    aspect-ratio: 8/5;
    /* aspect-ratio: 16/9; */

    height: auto;
    /* min-width: 250px; */
    /* max-width: 250px; */
    /* border: 1px solid red; */
    border-radius: 8px;
    padding-left: 5px;
    padding-top: 5px;
    display: grid;
    object-fit: contain;

    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: 50px 40px 50px;
    grid-template-rows: 20% 25% 25% 25%;
    grid-template-areas:
      "buttonDiv buttonDiv buttonDiv"
      "bankName bankName cardLogo "
      "cardNo cardNo cvv"
      "user user cardExpiry";

    background-color: #ffffff;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    /* box-shadow: 20px 20px 30px 0 rgba(0, 0, 0, 0.1); */
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px; */
    padding-right: 5px;
    /* overflow: hidden; */
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(68, 61, 61, 0.24); */
    /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.075), 0 5px 5px rgba(0, 0, 0, 0.048); */
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  .cardNoText {
    margin: 0px 0px 0px 5%;
    font-size: 1.1em !important;
    color: slategray;
    padding: 0px;
    white-space: nowrap;
  }

  .cardBankText {
    margin: 0px 0px 0px 5%;
    font-size: 1em !important;
    white-space: normal;
  }
  .cardUserText {
    font-size: 1em !important;
  }

  .cvvLabel {
    font-size: 0.7em;
  }
  .cvvText {
    font-size: 1em;
  }
  .expiryLabel {
    font-size: 0.7em;
  }
  .expiryText {
    font-size: 1em;
  }

  .favIcon {
    font-size: 19px;
    font-size: 1.4em;
  }
  .pencilIcon {
    /* font-size: 17px; */
    font-size: 1.3em;
  }

  .trashIcon {
    font-size: 20px;
    font-size: 1.3em;
  }

  .checkIcon {
    font-size: 20px;
    font-size: 1.3em;
  }
  .cancelIcon {
    font-size: 20px;
    font-size: 1.3em;
  }
}

@media screen and (max-width: 345px) {
  .cardNo {
    grid-area: cardNo;
    /* border: 1px solid green; */
    width: 100%;
    height: 100%;
    margin: 0px 0px 0px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 0px;
  }
  .cardNoText {
    /* width: 100%; */
    /* margin: 0px 0px 0px 0px !important; */
    margin: 0px 0px 0px 2%;

    font-weight: bolder;
    font-family: "Share Tech Mono", monospace;
    letter-spacing: 0px;
    font-weight: bold !important;
    /* font-size: 14px !important; */
    font-size: 1em !important;

    color: slategray;
    text-shadow: 0.5px 0.5px rgb(202, 202, 202);
    /* z-index: 23; */
    padding: 0px;
    white-space: nowrap;
  }
}

.cardAmex {
  /* background-color: #395c3b; 
  background-image: url(../img/cent.png);
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center; */
}
.cardAmex h1 {
  /* text-transform: uppercase !important;
  letter-spacing: 2px;
  font-weight: bolder;
  padding: 0px;
  font-size: 55px;
  bottom: -54px;
  left: 2px; */
}
.cardMaster {
  /* background: url(../img/2.png) #283c86; 
  background-size: cover; */
}
.cardMaster h1 {
  /* font-family: "Anton", sans-serif;
  text-transform: uppercase !important;
  font-style: italic;
  letter-spacing: 2px;
  padding: 0px;
  font-size: 55px;
  bottom: -54px;
  left: 2px; */
}
.cardMaestro {
  /* background: url(../img/3.png), #7b7a7d;
  background-size: cover;
  background: #fc5c7d;
  background: -webkit-linear-gradient(to right, #6a82fb, #fc5c7d);
  background: linear-gradient(to right, #6a82fb, #fc5c7d);
  background: rgba(197, 158, 158, 0.2);
  backdrop-filter: blur(30px); 
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
  overflow: hidden; */
}

.cardMaestro h1 {
  /* font-family: "Anton", sans-serif;
  text-transform: capitalize !important;
  font-style: italic;
  letter-spacing: 2px;
  padding: 0px;
  font-size: 55px;
  bottom: -54px;
  left: 2px; */
}
.cardVisa {
  /* background: url(../img/8.png); 
  background-size: cover; */
}
.cardVisa h1 {
  /* font-family: "Anton", sans-serif;
  text-transform: uppercase !important;
  font-style: italic;
  font-weight: bolder;
  letter-spacing: 3px;
  padding: 0px;
  font-size: 58px;
  bottom: -58px;
  left: 2px; */
}
.cardRupay {
  /* background: #e7a043; 
  background: -webkit-linear-gradient(
    to top,
    #ffd194,
    #d1913c
  );
  background: linear-gradient(
    to top,
    #ffd194,
    #d1913c
  );  */
}
.cardRupay h1 {
  /* font-family: "Poppins", sans-serif;
  text-transform: capitalize !important;

  padding: 0px;
  font-size: 55px;
  bottom: -53px;
  left: 2px; */
}
.cardUnion {
  /* background: #8360c3; 
  background: -webkit-linear-gradient(
    to top,
    #2ebf91,
    #8360c3
  ); 
  background: linear-gradient(
    to top,
    #2ebf91,
    #8360c3
  ); */
}
.cardUnion h1 {
  /* font-family: "Anton", sans-serif;
  font-family: "Timmana", sans-serif;
  text-transform: capitalize !important;
  font-style: italic;
  letter-spacing: -1px;
  padding: 0px;
  margin: 0px;
  font-size: 55px;
  bottom: -35px;
  left: 2px; */
}
.cardHiper {
  /* background: #485563; 
  background: -webkit-linear-gradient(
    to left,
    #29323c,
    #485563
  ); 
  background: linear-gradient(
    to left,
    #29323c,
    #485563
  );
  background: url(../img/10.jpg);
  background-size: cover; */
}
.cardHiper h1 {
  /* font-family: "Anton", sans-serif;
  text-transform: capitalize !important;
  font-style: italic;
  letter-spacing: 2px;
  padding: 0px;
  font-size: 55px;
  bottom: -54px;
  left: 2px; */
}
.cardDiners {
  /* background: #636363;
  background: -webkit-linear-gradient(
    to top,
    #a2ab58,
    #636363
  ); 
  background: linear-gradient(
    to top,
    #a2ab58,
    #636363
  );  */
}
.cardDiners h1 {
  /* font-family: "Anton", sans-serif;
  text-transform: uppercase !important;
  font-style: italic;
  letter-spacing: 2px;
  padding: 0px;
  font-size: 55px;
  bottom: -54px;
  left: 2px; */
}
.cardJcb {
  /* background: #2c3e50; 
  background: -webkit-linear-gradient(
    to bottom,
    #fd746c,
    #2c3e50
  ); 
  background: linear-gradient(
    to bottom,
    #fd746c,
    #2c3e50
  ); */
}
.cardJcb h1 {
  /* font-family: "Otomanopee One", sans-serif;
  text-transform: uppercase !important;

  letter-spacing: 5px;
  padding: 0px;
  font-size: 58px;
  bottom: -53px;
  left: 2px; */
}
.cardDiscovery {
  /* background: #43c6ac; 
  background: -webkit-linear-gradient(
    to top,
    #191654,
    #43c6ac
  ); 
  background: linear-gradient(
    to top,
    #191654,
    #43c6ac
  );
  background: url(../img/11.jpg);
  background-size: cover; */
}
.cardDiscovery h1 {
  /* font-family: "Anton", sans-serif;
  text-transform: capitalize !important;
  font-style: italic;
  letter-spacing: 2px;
  padding: 0px;
  font-size: 55px;
  bottom: -54px;
  left: 2px; */
}
